@model TiKuBll.Model.TeacherValidModel
@{
  ViewBag.Title = "课站";
}


  <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fIDCard1?x-oss-process=style/width" alt="" />
  <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fIDCard2?x-oss-process=style/width" alt="" />
  <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fTeachCert1?x-oss-process=style/width" alt="" />
  <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fTeachCert2?x-oss-process=style/width" alt="" />

  <br />
  
  <input type="text" id="txtName" placeholder="真实姓名"  class="input-text" />
  <input type="text" id="txtID" placeholder="身份证号"  class="input-text" />
  <input type="text" id="txtTeacherNo" placeholder="证书编号"  class="input-text" />
  <input type="text" id="txtEffect" placeholder="证书有效期"  class="input-text" />

  <button class="awe-btn awe-btn-14" onclick="ValidTeacher(@Model.fID)">认证通过</button>
  <br />
  <input type="text" id="txtValidMessage"  class="input-text" />
  <button class="awe-btn awe-btn-14" onclick="ReturnValidTeacher(@Model.fID)">认证未通过</button>

  <script type="text/javascript">
    function ValidTeacher(iValidFid) {
        if($("#txtName").val()==""){
            alert("请填写真实姓名");
            return;
        }else if($("#txtID").val()==""){
            alert("请填写身份证号");
            return;
        }else if($("#txtTeacherNo").val()==""){
            alert("请填写证书编号");
            return;
        }else if($("#txtEffect").val()==""){
            alert("请填写证书有效期");
            return;
        }

      $.ajax({
        url: "/Manager/DoTeacherValid",
        type: "POST",
        data: { "iValidFid": iValidFid, "ValidResult": true,"strName":$("#txtName").val(),"strUID":$("#txtID").val(),"strCertNo":$("#txtTeacherNo").val(),"strEffect":$("#txtEffect").val(), "ValidMessage": "认证通过" },
        success: function (msg) {
          alert("认证成功");
          window.location.reload();
        }
      });
    }

    function ReturnValidTeacher(iValidFid) {
      var ValidMessage = $("#txtValidMessage").val();
      $.ajax({
        url: "/Manager/DoTeacherValid",
        type: this.method,
        data: { "iValidFid": iValidFid, "ValidResult": false,"strName":"","strUID":"","strCertNo":"","strEffect":"", "ValidMessage": ValidMessage },
        success: function (msg) {
          alert("认证未通过");
          window.location.reload();
        },
        fail: function (msg) {
          alert(msg);
          window.location.reload();
        }
      });
    }       
  </script>