@{
  ViewBag.Title = "课站";
}
<section class="section-account parallax bg-11" style="padding-top: 120px;">
            <div class="awe-overlay"></div>
            <div class="container">
                <div class="login-register">
                    <div class="text text-center">
                        <h2>成为老师</h2>
                         
                        <div class="account_form"> 
                            <div class="field-form" >
                                  <blockquote style="border: 2px solid #FFF;">
                                      <p>欢迎成为课站老师，注册成功，您可以发布课程</p>
                                  </blockquote>
                            </div>
                            <div class="field-form" >  
                                  <span class="account-desc" id="bTeacherDesc" >                                      
                                      <p><input type="checkbox" id="chkTea" /><a href="/open/KeZhanTeachDesc"  >&nbsp;&nbsp;课站平台服务协议</a></p>
                                  </span>
                            </div>
                            <div class="field-form">
                                <button class="awe-btn awe-btn-13" id="btnLogin" onclick="DoValid()">去认证</button>                                
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
<script type="text/javascript">
  function DoValid() {
    if (!$("#chkTea").is(':checked')) {
      alert("请阅读并同意老师条款");
      return;
    } else {
      window.location.href = "/ClassRoom/ValidUploadFile";
    }
  }
</script>
