@model TiKuBll.Model.TeacherValidModel
@{
  ViewBag.Title = "课站";
}
<section class="section-reservation-page bg-white">

            <div class="container">
                <div class="reservation-page">     
                    <div class="row">
                    
                        <div class="col-md-8 col-lg-9">
                            <div class="reservation_content">                                
                                <div class="reservation-billing-detail">
                             
                             
                                           <label>身份证正面</label>
                                
                                      
                                          <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fIDCard1?x-oss-process=style/width" )" alt="" />
                                      
                                         <input type="hidden" id="txtIDCard1"  value="" />
                                          <label>身份证反面</label>
                                    
                                       
                                          <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fIDCard2?x-oss-process=style/width" )" alt="" />
                                      
                                         <input type="hidden" id="txtIDCard2"  value="" />

                                          <label>学段 <sup>*</sup></label>
                                 <span>@Model.fPharse</span>
                                     <label>学科 <sup>*</sup></label>
                                   <span>@Model.fSubject</span>
                                     <label>证书类型 <sup>*</sup></label>
                                   <span>@Model.fCertType</span>


                                          <label>证书1</label>
                                    
                                      
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fTeachCert1?x-oss-process=style/width" )" alt="" />
                                       
                                         <input type="hidden" id="txtTeacherCert1"  value="" />
                                          <label>证书2</label>
                                     
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fTeachCert2?x-oss-process=style/width" )" alt="" />
                                        
                                         <input type="hidden" id="txtTeacherCert2"  value="" />
</div>
                    </div>
                </div>
                    </div>
                </div>
            </div>

        </section>
