@model TiKuBll.Model.ResourseListModel
@{
    ViewBag.Title = "FileListControl";
}

@if (Model.resourseList != null)
{
    <div class="test_area" >
        @foreach (var file in Model.resourseList)
        {
            <div class="test_ans">
                <div class="test_desc">
                    <img src="@file.fCoverImg" style="width:128px;" />
                    <br />
                    <input type="radio" name="radFile" id="@file.fID" value="@file.fUrl"  />
                    <p style="width:120px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">@file.fResourceTitle</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <span>没有素材</span>
}
