@model KeZhan.Models.FileModel
@{
  ViewBag.Title = "课站";
}
<section class="section-account parallax" style=" padding-top:60px; background-image:url('../content/image/jhk-1545185427332.jpg')">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register">
            <div class="text text-center">
                <h2>修改登录密码</h2>

                <div class="account_form">

                    <div class="field-form">
                        <input type="password" class="field-text" id="txtPass" placeholder="请输入密码" />
                        <span class="view-pass"><i class="lotus-icon-view"></i></span>
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" id="txtPass2" placeholder="请再次输入密码" />
                        <span class="view-pass"><i class="lotus-icon-view"></i></span>
                    </div>
                    <div class="field-form">
                        <a href="#" class="awe-btn awe-btn-13" id="btnPass" style="width:20%;" onclick="DoSavePass()">确定修改</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
  var redirect_uri = "@Model.FileUrl";

  function DoSavePass() {
    if ($("#txtPass").val() == "") {
      alert("请输入新密码");
    } else if ($("#txtPass2").val() == "") {
      alert("请再次输入密码");
    } else if ($("#txtPass").val() == $("#txtPass2").val()) {
      SaveData("fPassWord", $("#txtPass").val());
    } else {
      alert("两次密码不一致，请重新输入");
    }
  }


  function SaveData(type, value) {
    $.ajax({
        url: "/LoginRequest/DoSaveInfo",
      data: { "strType": type, "strInfo": value },
      type: "POST",
      dataType: "json",
      success: function (rst) {
        if (rst.iResult >= 0) {

          alert("保存成功");
          if (redirect_uri == "") {
            window.location.href = "/open/ClassRoomList";
          } else {
            window.location.href = redirect_uri;
          }
        } else if (rst.iResult == -9999) {
            alert("请重新登录");
        } else {
          alert(rst.strMsg);
        }
      }

    });
  }
        </script>
