@model WebEdu.Models.OpenClassRoomModel
@{
  ViewBag.Title = "课站";
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>=====课站===</title>
  <link rel="stylesheet" href="../../Content/main.css?v=1.3" />
  <link rel="stylesheet" href="../../Content/iconfont.css?v=1.3" />
  <script src="../../Scripts/ketang/vue.js"></script>
  <script src="../../Scripts/ketang/vue-toasted.js"></script>
  <script src="../../Scripts/ketang/axios.js"></script>
</head>
<body>
  <div id="app_box">
    <div class="m-login" v-show="step == 'first'">
      <div class="form-part">
        <div class="form-part-inner">
          <div class="title">
            课站</div>
          <div class="subtitle">
            课站</div>
          <div class="box">
            <div class="form-item">
              @*<label class="form-label" id="account" v-model="account" name="account">
                请输入账号</label><input class="u-input" value="{{account}}">*@
              <select class="form-control col-sm-10" id="account" v-model="account" name="account">
                <option v-for="user in users" v-bind:value="user.userId">{{user.userId}}</option>
              </select>
            </div>
            <div class="form-item">
              <label class="form-label">
                请输入密码</label><input class="u-input" type="password" value=""></div>
            <div class="form-item f-tar">
              <div class="errortip" hidden="">
              </div>
              <div>
                <button class="u-btn" v-on:click="initLogin">
                  登录</button></div>
              <div>
                <button class="u-btn u-btn-none">
                  注册</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner">
      </div>
    </div>
    <div v-show="step == 'two'">
      <div class="m-header">
        <div class="logo">
          课站</div>
        <div class="opt">
          <div class="opt-inner">
            <a href="javascript:void(0);" class="logout">用户</a></div>
        </div>
      </div>
      <div class="m-home">
        <div class="part part-1">
          <div class="icon icon-createroom">
          </div>
          <div class="item item-1 f-tac">
            <input class="u-input" placeholder="请输入房间名称" v-model.trim="roomID"></div>
          <div class="errortip " hidden="">
          </div>
          <div class="item item-2  f-tac">
            <button class="u-btn u-btn-longer" v-on:click="techerStart">
              创建房间</button></div>
        </div>
        <div class="part part-2">
          <div class="icon icon-joinroom">
          </div>
          <div class="item item-1 f-tac">
            <input name="roomId" class="u-input" placeholder="请输入房间ID号码" v-model.trim="roomID"></div>
          <div class="errortip " hidden="">
          </div>
          <div class="item item-2  f-tac">
            <button class="u-btn u-btn-longer" v-on:click="studentStart">
              加入房间</button></div>
          <div class="tip">
            注：房间ID为创建房间后 生成的8位数字</div>
        </div>
      </div>
    </div>
    <div v-if="step == 'second'">
      <div class="m-header">
        <div class="logo">
          房间号: {{roomID}}</div>
        <div class="opt">
          {{account}}<div class="opt-inner" v-on:click="quit">
            <a href="#" class="close"><span>关闭</span></a></div>
        </div>
      </div>
      <div class="m-main">
        <div class="room-info">
          @*用户*@
        </div>
        <div class="more-opt">
        </div>
        <div class="m-whiteboard">
          <div class="u-tab">
            @if (Model.Role == "Teacher")
            {
              <div class="u-tab-header u-tab-header-big">
                <div class="u-tab-item u-tab-item-big active" onclick="showBoard()">
                  白板(点击全屏)</div>
                <div class="u-tab-item u-tab-item-big" v-on:click="pushScreen">
                  屏幕共享</div>
                <div class="u-tab-item u-tab-item-big" v-on:click="startRTC">
                  推摄像头</div>
              </div>
            }
            <div class="u-tab-body">
              <div class="m-whiteboard-container ">
                <div class="m-whiteboard-canvas" style="position: relative;" id="paint_box">
                  <canvas width="700" height="490" id="canBoard" style="position: relative; box-sizing: content-box;
                    background-position: center center; background-repeat: no-repeat; background-size: contain;
                    z-index: 0; cursor: crosshair;"></canvas>
                  @* <canvas width="700" height="490" style="position: absolute; box-sizing: content-box;
                    top: 0px; left: 0px; z-index: 1; cursor: crosshair; width: 700px; height: 490px;
                    visibility: visible;"></canvas>
                  <canvas width="700" height="490" style="position: absolute; box-sizing: content-box;
                    top: 0px; left: 0px; z-index: 2; cursor: crosshair;"></canvas>*@
                </div>
                @if (Model.Role == "Teacher")
                {
                  <div class="u-grid-row m-kit m-kit-wb">
                    <div class="m-kit-wb-option">
                      <div class="u-tooltip" v-on:click="setType(BoardSDK.DRAW_TYPE.RASER)">
                        <i class="u-icon iconfont icon-dot "></i>
                        <div class="u-tooltip-title">
                          激光笔</div>
                      </div>
                      <div class="u-tooltip" onclick="showDetail(this)">
                        <div class="m-kit m-kit-color" style="display: none">
                          <div class="u-grid-col flex-6">
                            <i class="u-icon u-icon-color active" style="background-color: rgb(0, 0, 0);" v-on:click="setColor('#000000')">
                            </i><i class="u-icon u-icon-color active" style="background-color: rgb(53, 203, 255);"
                              v-on:click="setColor('#35CBFF')"></i><i class="u-icon u-icon-color active" style="background-color: rgb(255, 221, 63);"
                                v-on:click="setColor('#FFDD3F')"></i><i class="u-icon u-icon-color active" style="background-color: rgb(255, 85, 60);"
                                  v-on:click="setColor('#FF553C')"></i><i class="u-icon u-icon-color " style="background-color: rgb(97, 210, 92);"
                                    v-on:click="setColor('#61D25C')"></i><i class="u-icon u-icon-color " style="background-color: rgb(182, 92, 255);"
                                      v-on:click="setColor('#B65CFF')"></i>
                          </div>
                        </div>
                        <i class="u-icon iconfont icon-fangkuang"></i>
                      </div>
                      <div class="u-tooltip" onclick="showDetail(this)">
                        <div class="m-kit m-kit-color" style="display: none">
                          <div class="u-grid-col flex-6">
                            <i class="u-icon iconfont icon-zhixian" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_LINE)">
                            </i><i class="u-icon iconfont icon-quxian" v-on:click="setType(BoardSDK.DRAW_TYPE.LINE)">
                            </i>
                            <i class="u-icon iconfont icon-tuoyuan" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_OVAL)">
                            </i><i class="u-icon iconfont icon-fangkuang1" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_RECT)">
                            </i>
                          </div>
                        </div>
                        <i class="u-icon iconfont icon-pen"></i>
                      </div>
                      <div class="u-tooltip" onclick="showDetail(this)">
                        <div class="m-kit m-kit-color" style="display: none">
                          <div class="u-grid-col flex-6">
                            <i class="u-icon iconfont icon-dian" 
                              v-on:click="setThin(50)"></i><i class="u-icon iconfont icon-dian" 
                                v-on:click="setThin(100)"></i><i class="u-icon iconfont icon-dian" 
                                  v-on:click="setThin(150)"></i>
                          </div>
                        </div>
                        <i class="u-icon iconfont icon-zititubiaoxiugai-"></i>
                      </div>                      
                      <div class="u-tooltip" onclick="showDetail(this)">
                        <div class="m-kit m-kit-color" style="display: none">
                          <div class="u-grid-col flex-6"><i class="u-icon iconfont icon-fangkuang1" 
                                v-on:click="setType(BoardSDK.DRAW_TYPE.SELECT)"></i><i class="u-icon iconfont icon-dian" 
                                  v-on:click="setType(BoardSDK.DRAW_TYPE.POINTSELECT)"></i>
                          </div>
                        </div>
                        <i class="u-icon iconfont icon-fangkuang1"></i>
                      </div>
                      <div class="u-tooltip" v-on:click="setType(BoardSDK.DRAW_TYPE.ERASER)">
                        <i class="u-icon iconfont icon-xiangpica"></i>
                        <div class="u-tooltip-title">
                          橡皮擦</div>
                      </div>
                      <div class="u-tooltip" onclick="showDetail(this)">
                        <div class="m-kit m-kit-color" style="display: none">
                          <div class="u-grid-col flex-6">
                            <i class="u-icon iconfont icon-chexiao2" 
                              v-on:click="revert"></i>
                            <i class="u-icon iconfont icon-huifu" 
                              v-on:click="process"></i>
                            <i class="u-icon iconfont icon-qingping" 
                              v-on:click="clearDraws"></i><i class="u-icon iconfont icon-qingping1" 
                                v-on:click="clear"></i>
                          </div>
                        </div>
                        <i class="u-icon iconfont icon-qingping1"></i>
                      </div>

                                          
                      <div class="u-tooltip" onclick="showDetail(this)">
                        <div class="m-kit m-kit-color" style="display: none">
                          <div class="u-grid-col flex-6"><i class="u-icon iconfont icon-baiban" onclick="document.getElementById('divPage').style.display='block';"
                                v-on:click="addBoard"></i><i class="u-icon iconfont icon-huishoushanchu" 
                                  v-on:click="deleteBoard"></i><i class="u-icon iconfont icon-huishoushanchu" 
                                  v-on:click="deleteBoard2"></i>
                          </div>
                        </div>
                        <i class="u-icon iconfont icon-baiban"></i>
                      </div>
                    </div>
                    <div class="m-kit-wb-pagination" style="display: none" id="divPage">
                      <div class="u-tooltip">
                        <div>
                          <div class="u-pagination">
                            <a class="u-icon iconfont icon-back disable" v-on:click="prevBoard"></a><span class="u-pagination-text">
                              {{boardData.page.current}} / {{boardData.page.total}}</span><a class="u-icon iconfont icon-more "
                                v-on:click="nextBoard"></a>
                          </div>
                        </div>
                        <div class="u-tooltip-title">
                          分页</div>
                      </div>
                    </div>
                    <div class="m-kit-wb-file">
                      <div class="u-tooltip m-kit-wb-file-item" id="divOpenFile">
                        <input id="file_input" style="position: absolute; opacity: 0;" type="file" v-on:change="uploadFile"
                          accept="image/*, application/pdf, application/msword, application/vnd.ms-powerpoint, application/vnd.ms-excel" />
                        <i class="u-icon iconfont u-file-icon">文档库</i><div class="u-tooltip-title">
                          打开文档库</div>
                      </div>
                      <div class="u-tooltip m-kit-wb-file-item" style="display: none" id="divCloseFile">
                        <i class="u-icon iconfont u-file-icon">关闭文档</i><div class="u-tooltip-title">
                          停止使用文档</div>
                      </div>
                    </div>
                  </div>
                }
              </div>
              @* <div class="m-whiteboard-container hide">
                <div class="video-share-container">
                  <video id="videoShare" class="video-share" width="100%"></video>
                  <div class="video-fullscreen-box">
                    <span class="video-fullscreen"></span>
                  </div>
                  <div class="change-video u-btn u-btn u-btn-smaller">
                    切换</div>
                </div>
              </div>*@
            </div>
          </div>
        </div>
        <div class="m-netcall">
          <div class="m-netcall-video video-1">
            <div class="video-name">
              {{account}}</div>
            <div class="m-video room-hasuser" id="video-1">
              <div style="overflow: hidden; position: relative; width: 139px; height: 104px; display: inline-block;">
                <video onclick="maxVideo(this)" id="local_video" muted="true" style="position: absolute;
                  left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: auto;"
                  autoplay playsinline></video>
              </div>
            </div>
            <div class="video-toolbar">
              <span v-bind:class="['video', { 'video-open': enableCamera,'video-close': !enableCamera }]"
                v-on:click="toggleCamera"></span><span v-bind:class="['audio', { 'audio-open': enableMic,'audio-close': !enableMic }]"
                  v-on:click="toggleMic"></span>
            </div>
          </div>
          <div v-for="(value, key, index) in remoteVideos" v-bind:class="'m-netcall-video video-'+(index+2)">
            <div class="video-name">
            </div>
            <div class="m-video" v-bind:id="'video-'+(index+2)">
              <video onclick="maxVideo(this)" v-bind:id="key" style="position: absolute; left: 50%;
                top: 50%; transform: translate(-50%, -50%); width: 100%; height: auto;" autoplay
                playsinline></video>
            </div>
          </div>
        </div>
        <div class="m-chatroom">
          <div class="u-tab">
            <div class="u-tab-header">
              <div class="u-tab-item u-tab-item-small active" onclick="showMsgOrUser(this,'msg')">
                讨论</div>
              <div class="u-tab-item u-tab-item-small" onclick="showMsgOrUser(this,'user')">
                成员</div>
            </div>
            <div class="u-tab-body" id="divMsg">
              <div class="m-chatroom-chatarea">
                <div id="chat-msg-list" class="m-chatroom-list">
                  <div class="history-toolbar">
                    <button class="u-btn u-btn-none f-w-140">
                      加载历史消息</button></div>
                  <ul class="im-log-box">
                    <li v-for="msg in msgs"><span class="send">{{msg.send}}</span> <span class="content">
                      {{msg.content}}</span> </li>
                  </ul>
                </div>
                <div class="m-chatroom-input">
                  <textarea class="u-textarea msg-input" v-model="imMsg.common.data" placeholder="和大家一起愉快聊天"></textarea>
                  <div class="input-toolbar">
                    <div class="part part-1">
                      <button class="u-btn u-btn u-btn-smaller" v-on:click="sendMsg">
                        发送</button></div>
                    @* <div class="part part-2" >
                      <span class="cq"></span>
                    </div>*@
                    <div class="part part-3" onclick="showEmoji()">
                      <span class="emojis"></span>
                    </div>
                  </div>
                  <div class="m-emoji" style="display: none">
                    <div class="emoji-tab">
                      <div class="emoji-tab-item active">
                        <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_0.png"></div>
                      <div class="emoji-tab-item">
                        <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/ajmd/ajmd001.png"></div>
                      <div class="emoji-tab-item">
                        <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/xxy/xxy001.png"></div>
                      <div class="emoji-tab-item">
                        <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/lt/lt001.png"></div>
                    </div>
                    <div class="emoji-content">
                      <span class="emoji-item">
                        <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_0.png?imageView&amp;thumbnail=28x28"></span><span
                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_01.png?imageView&amp;thumbnail=28x28"></span><span
                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_02.png?imageView&amp;thumbnail=28x28"></span><span
                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_03.png?imageView&amp;thumbnail=28x28"></span><span
                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_04.png?imageView&amp;thumbnail=28x28"></span><span
                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_05.png?imageView&amp;thumbnail=28x28"></span><span
                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_06.png?imageView&amp;thumbnail=28x28"></span><span
                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_145.png?imageView&amp;thumbnail=28x28"></span><span
                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_07.png?imageView&amp;thumbnail=28x28"></span><span
                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_08.png?imageView&amp;thumbnail=28x28"></span><span
                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_09.png?imageView&amp;thumbnail=28x28"></span><span
                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_10.png?imageView&amp;thumbnail=28x28"></span><span
                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_11.png?imageView&amp;thumbnail=28x28"></span><span
                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_12.png?imageView&amp;thumbnail=28x28"></span><span
                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_13.png?imageView&amp;thumbnail=28x28"></span><span
                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_14.png?imageView&amp;thumbnail=28x28"></span><span
                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_15.png?imageView&amp;thumbnail=28x28"></span><span
                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_16.png?imageView&amp;thumbnail=28x28"></span><span
                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_17.png?imageView&amp;thumbnail=28x28"></span><span
                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_18.png?imageView&amp;thumbnail=28x28"></span><span
                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_19.png?imageView&amp;thumbnail=28x28"></span><span
                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_20.png?imageView&amp;thumbnail=28x28"></span><span
                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_21.png?imageView&amp;thumbnail=28x28"></span><span
                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_22.png?imageView&amp;thumbnail=28x28"></span><span
                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_23.png?imageView&amp;thumbnail=28x28"></span><span
                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_24.png?imageView&amp;thumbnail=28x28"></span><span
                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_25.png?imageView&amp;thumbnail=28x28"></span><span
                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_26.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_27.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_28.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_29.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_30.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_31.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_32.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_33.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_160.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_161.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_162.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_163.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_164.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_165.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_166.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_34.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_35.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_36.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_37.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_38.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_39.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_200.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_40.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_41.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_42.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_43.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_44.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_45.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_46.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_47.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_48.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_49.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_50.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_51.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_52.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_53.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_54.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_55.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_56.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_57.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_58.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_59.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_60.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_61.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_62.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_63.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_64.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_65.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_66.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_67.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_68.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_69.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_70.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_71.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_72.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_73.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_74.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_75.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_76.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_77.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_78.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_79.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_80.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_81.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_82.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_83.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_84.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_85.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_86.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_87.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_88.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_89.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_90.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_91.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_92.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_93.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_94.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_95.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_96.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_97.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_98.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_99.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_100.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_101.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_102.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_103.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_104.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_105.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_106.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_107.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                  class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_108.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                    class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_109.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                      class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_110.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                        class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_111.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                          class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_112.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                            class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_113.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                              class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_114.png?imageView&amp;thumbnail=28x28"></span><span
                                                                                                                                                                                                                                                                                class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_115.png?imageView&amp;thumbnail=28x28"></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-tab-body" id="divUser" style="display: none">
              <div class="m-chatroom-list m-chatroom-list-1">
                <div class="u-member" v-for="user in groupuser">
                  <div class="owner">
                  </div>
                  <div class="volume">
                  </div>
                  <div class="avatar">
                  </div>
                  <div class="nickname">
                    {{user.content}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @* <div id="app_box" class="container-fluid">
    <h4 class="title">教育SDK_DEMO</h4>
    <div class="row" v-if="step == 'first'">
      <div class="col align-self-center"></div>
      <div class="col align-self-center">
        <form>
          <div class="form-group row">
            <label for="account" class="col-sm-2 col-form-label">账号</label>
            <select class="form-control col-sm-10" id="account" v-model="account" name="account">
              <option v-for="user in users" v-bind:value="user.userId">{{user.userId}}</option>
            </select>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">推流模式</label>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" v-model.number="pushModel" value="1">
                自动推流</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" v-model.number="pushModel" value="0">
                手动推流</label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">角色</label>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" v-model.number="isTeacher" value="1">
                老师</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" v-model.number="isTeacher" value="0">
                学生</label>
            </div>
          </div>

          <div class="form-group row">
            <label for="roomid" class="col-sm-2 col-form-label">课堂ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="roomid" v-model.trim="roomID" placeholder="课堂ID">
            </div>
          </div>

          <button type="button" class="btn btn-primary" v-on:click="start" v-text="isTeacher ? '创建课堂': '进入课堂'"></button>
        </form>
      </div>
      <div class="col align-self-center"></div>
    </div>

    <div v-else>
     

      <div class="row">
        <div class="col-md-12">
          <div class="form-row">

            <div class="btn-group mr-2" role="group">
              <button v-on:click="startRTC" type="button" class="btn btn-primary btn-sm">摄像头推流</button>
              <button v-on:click="pushScreen" class="btn btn-info btn-sm">屏幕分享</button>
              <!-- <button v-on:click="stopPush" class="btn btn-warning btn-sm" v-if="isPushing === 1">停止推流</button> -->
            </div>           

            <div class="btn-group mr-2" role="group" v-if="isPushing === 1 && isPushCamera">
              <button v-on:click="getCameraDevices" class="btn btn-success btn-sm">枚举摄像头</button>
              <select class="form-control col-sm-2" v-model="cameraIndex" v-on:change="switchCamera">
                <option value="-1">请选择摄像头/枚举摄像头</option>
                <option v-for="(camera, index) in devices.camera" v-bind:value="index">{{camera.label}}</option>
              </select>

              <button v-on:click="getMicDevices" class="btn btn-info btn-sm">枚举麦克风</button>
              <select class="form-control col-sm-2" v-model="micIndex" v-on:change="switchMic">
                <option value="-1">请选择麦克风/枚举麦克风</option>
                <option v-for="(mic, index) in devices.mic" v-bind:value="index">{{mic.label}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1" style="margin: 5px">
              <video id="local_video" muted="true" autoplay playsinline></video>
            </div>
            <template v-for="(value, key, index) in remoteVideos">
              <div class="col-md-1" style="margin: 5px">
                <video :id="key" autoplay playsinline></video>
              </div>
            </template>
          </div>
        </div>
      </div>

      <div v-if="isTeacher">
        <div class="row">
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setGlobalColor('#ff0000')">设置全局背景色(红)</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setGlobalColor('#0000ff')">设置全局背景色(蓝)</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setGlobalColor('#ffffff')">设置全局背景色(白色)</button>
          </div>

          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setBgColor('#ffff00')">设置当前背景色(黄)</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setBgColor('#00ff00')">设置当前背景色(绿)</button>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setColor('#000000')">画笔黑色</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setColor('#0000ff')">画笔蓝色</button>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setThin(50)">小号画笔</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setThin(100)">中号画笔</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setThin(150)">大号画笔</button>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.LINE)">画曲线</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_LINE)">画直线</button>
          </div>

          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_OVAL_SOLID)">画实心(椭)圆</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_OVAL)">画空心(椭)圆</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_RECT_SOLID)">画实心矩形</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_RECT)">画空心矩形</button>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.ERASER)">橡皮擦</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.RASER)">激光笔</button>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.SELECT)">框选</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="setType(BoardSDK.DRAW_TYPE.POINTSELECT)">点选</button>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="clearDraws">清空当前页涂鸦(保留背景)</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="clear">清空当前页涂鸦 + 背景 (全部清空)</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="clearGlobal">清空全局背景色</button>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="revert">撤销</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="process">恢复</button>
          </div>

          <div class="btn-group mr-2" role="group">
            <div class="custom-file">
              <input id="file_input" class="custom-file-input" type="file" v-on:change="uploadFile" accept="image/*, application/pdf, application/msword, application/vnd.ms-powerpoint, application/vnd.ms-excel">
              <label class="custom-file-label" for="file_input">Choose file</label>
            </div>
          </div>
        </div>
      </div>



      <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
          <div id="paint_box"></div>
        </div>
        <div class="col-md-6">
          <div class="form-row">
            <label class="col-form-label">消息内容</label>
            <div class="col-3">
              <input type="text" v-model="imMsg.common.data" class="form-control" placeholder="text消息">
            </div>
            <label class="col-form-label">接收人ID</label>
            <div class="col-3">
              <input type="text" v-model="imMsg.common.toUser" class="form-control" placeholder="不填表示给群组发消息">
            </div>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="sendMsg">发送C2C消息</button>
          </div>

          <div class="form-row" style="margin-top: 10px;">
            <label class="col-form-label">自定义消息data</label>
            <div class="col-1">
              <input type="text" v-model="imMsg.custom.data" class="form-control" placeholder="data">
            </div>
            <label class="col-form-label">消息desc</label>
            <div class="col-1">
              <input type="text" v-model="imMsg.custom.desc" class="form-control" placeholder="desc">
            </div>
            <label class="col-form-label">自定义消息ext</label>
            <div class="col-1">
              <input type="text" v-model="imMsg.custom.ext" class="form-control" placeholder="ext">
            </div>
            <label class="col-form-label">接收人ID</label>
            <div class="col-2">
              <input type="text" v-model="imMsg.custom.toUser" class="form-control" placeholder="不填表示给群组发消息">
            </div>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="sendCustomGroupMsg">发送自定义消息</button>
          </div>
          <div class="row">
            <ul class="im-log-box">
              <li v-for="msg in msgs">
                <span class="send">{{msg.send}}</span>
                <span class="content">{{msg.content}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
          <div class="btn-group mr-2" role="group">
            <p>当前页：{{boardData.page.current}} 总页数：{{boardData.page.total}}</p>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary btn-sm" v-on:click="prevBoard">上一页</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="nextBoard">下一页</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="addBoard">新增一页</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="deleteBoard">删除当前页</button>
            <button type="button" class="btn btn-primary btn-sm" v-on:click="deleteBoard2">删除第二页</button>
          </div>
        </div>
      </div>
    </div>
  </div>
*@
  <!-- WebRTC SDK -->
  <script src="https://sqimg.qq.com/expert_qq/webrtc/2.6.2/WebRTCAPI.min.js"></script>
  <!-- WebIM SDK -->
  <script src="https://sqimg.qq.com/expert_qq/webim/1.7.1/webim.min.js"></script>
  <!-- 白板SDK -->
  <script src="https://sqimg.qq.com/expert_qq/edu/2.2.3/board_sdk.mini.js"></script>
  <script src="https://sqimg.qq.com/expert_qq/cos/5.0.0/cos.mini.js"></script>
  <!-- TIC SDK -->
  <!-- <script src="./libs/TICSDK.js"></script> -->
  <script src="https://sqimg.qq.com/expert_qq/TICSDK/1.3.1/TICSDK.mini.js"></script>
  <script src="../../Scripts/ketang/account.js"></script>
  <script src="../../Scripts/ketang/app2.js?v=1.5"></script>
</body>
<script type="text/javascript" src="../../Scripts/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
  var username = '@Model.UserName';
  var role = '@Model.Role';
  var classroomcode = '@Model.ClassRoomCode';

  $(document).ready(function () {
    if (role == "Teacher") {
      app.initLogin2("userid_947645165_1", role, classroomcode);
    } else {
      app.initLogin2("userid_947645165_2", role, classroomcode);
    }

  });

  function showDetail(obj) {
    $(".m-kit-color").hide();
    $(obj).find(".m-kit-color").show();
  }

  function showMsgOrUser(obj, type) {
    $(".u-tab-item-small").removeClass("active");
    $(obj).addClass("active");
    if (type == "msg") {
      $("#divMsg").show();
      $("#divUser").hide();
    } else {
      $("#divMsg").hide();
      $("#divUser").show();
    }
  }

  function maxVideo(obj) {

    launchFullscreen(document.getElementById($(obj).attr("id")));
    window.setTimeout(function exit() {
      //檢查瀏覽器是否處於全屏
      if (invokeFieldOrMethod(document, 'FullScreen') || invokeFieldOrMethod(document, 'IsFullScreen') || document.IsFullScreen) {
        exitFullscreen();
      }
    }, 5 * 1000);

  }

  //進入全屏
  function launchFullscreen(element) {

    //此方法不可以在異步任務中執行，否則火狐無法全屏
    if (element.requestFullscreen) {
      element.requestFullscreen();
    } else if (element.mozRequestFullScreen) {
      element.mozRequestFullScreen();
    } else if (element.msRequestFullscreen) {
      element.msRequestFullscreen();
    } else if (element.oRequestFullscreen) {
      element.oRequestFullscreen();
    }
    else if (element.webkitRequestFullscreen) {
      element.webkitRequestFullScreen();
    } else {

      var docHtml = document.documentElement;
      var docBody = document.body;
      var videobox = document.getElementById('videobox');
      var cssText = 'width:100%;height:100%;overflow:hidden;';
      docHtml.style.cssText = cssText;
      docBody.style.cssText = cssText;
      videobox.style.cssText = cssText + ';' + 'margin:0px;padding:0px;';
      document.IsFullScreen = true;

    }
  }
  //退出全屏
  function exitFullscreen() {
    if (document.exitFullscreen) {
      document.exitFullscreen();
    } else if (document.msExitFullscreen) {
      document.msExitFullscreen();
    } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if (document.oRequestFullscreen) {
      document.oCancelFullScreen();
    } else if (document.webkitExitFullscreen) {
      document.webkitExitFullscreen();
    } else {
      var docHtml = document.documentElement;
      var docBody = document.body;
      var videobox = document.getElementById('videobox');
      docHtml.style.cssText = "";
      docBody.style.cssText = "";
      videobox.style.cssText = "";
      document.IsFullScreen = false;
    }
  }

  function showEmoji() {
    if ($('.m-emoji').css('display') == 'none') {
      $(".m-emoji").show();
    } else {
      $(".m-emoji").hide();
    }
  }

  function showBoard() {


    launchFullscreen(document.getElementById("paint_box"));
    window.setTimeout(function exit() {
      //檢查瀏覽器是否處於全屏
      if (invokeFieldOrMethod(document, 'FullScreen') || invokeFieldOrMethod(document, 'IsFullScreen') || document.IsFullScreen) {
        exitFullscreen();
      }
    }, 5 * 1000);
  }
  
</script>
</html>
