

<section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 id="hMsg">提示</h2>
                        <p>
                          移动端暂不支持在线上课，请在电脑访问Https://www.2kezhan.com进入课堂
                        </p>



                    </div>
                </div>
            </div>
        </section>
        