@model HandleErrorInfo

@{
  ViewBag.Title = "课站";
  Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>Page 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- GOOGLE FONT -->
    <link href="http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700" rel="stylesheet" type="text/css">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/bootstrap-select.min.css">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/style.css?v=1.9">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="UTF-8" src="http://ditu.google.cn/maps-api-v3/api/js/35/7/intl/zh_cn/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="http://ditu.google.cn/maps-api-v3/api/js/35/7/intl/zh_cn/util.js"></script>
</head>
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body>
    <!--<![endif]-->
    <!-- PRELOADER -->
    <div id="preloader" style="display: none;">
        <span class="preloader-dot"></span>
    </div>
    <!-- END / PRELOADER -->
    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <section class="section-404 bg-5">
            <div class="awe-overlay"></div>
            <div class="page-404 text-center">
                <a href=""><img src="images/logo-footer.png" alt=""></a>
                <h1>ROOM <span>404</span></h1>
                <h6>Look like it's empty here!</h6>
                <p>There are so many other interesting rooms that are much easier to be accessed, I bet. Enjoy them in <a href="#">the box below.</a></p>

                <div class="search-404">
                    <input type="text" class="filed-text" placeholder="Search page">
                    <button class="awe-btn awe-btn-12">SEARCH</button>
                </div>

                <p>or go back to <a href="index.html">Home Page</a> </p>
            </div>
        </section>
    </div>
    <!-- END / PAGE WRAP -->
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="../../Content/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/bootstrap-select.js"></script>
    <script src="http://ditu.google.cn/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src="../../Content/js/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../../Content/js/lib/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <div class="awe-popup-overlay" id="awe-popup-overlay"></div><div class="awe-popup-wrap" id="awe-popup-wrap"><div class="awe-popup-content"></div><span class="awe-popup-close" id="awe-popup-close"></span></div>
</body>
</html>