@model KeZhan.Models.FileModel
@{
    Layout = null;
}
@*@section otherHeadInfo {
  <script type="text/javascript" src="../../Scripts/ckplayer/ckplayer.js?v=1.4"></script>
}
<section class="section-sub-banner" style="padding-bottom:80px; ">
    <div class="awe-overlay" style="background-color: #fff"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="videosamplex" style=" width: 60rem;left: 50%;height: 40rem;margin-left: -30rem;background-color: rgb(0, 0, 0);overflow: hidden;position: relative;">
                <video id="videoplayer" src="@Model.FileUrl"></video>
            </div>
            <script type="text/javascript">
              var videoObject = {
                container: '.videosamplex', //“#”代表容器的ID，“.”或“”代表容器的class
                variable: 'player', //该属性必需设置，值等于下面的new chplayer()的对象
                poster: 'pic/wdm.jpg',
                mobileCkControls: true, //是否在移动端（包括ios）环境中显示控制栏
                mobileAutoFull: false, //在移动端播放后是否按系统设置的全屏播放
                h5container: '#videoplayer', //h5环境中使用自定义容器
                video: '@Model.FileUrl'//视频地址
              };
              var player = new ckplayer(videoObject);
     
            </script>
        </div>
    </div>
</section>*@



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>Aliplayer功能展示</title>
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
    <script type="text/javascript" charset="utf-8" src="https://g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://player.alicdn.com/aliplayer/presentation/js/aliplayercomponents.min.js"></script>
    <style type="text/css">
        .vip-join {
            color: #00c1de;
        }

        .vip_limit_content {
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

            .vip_limit_content .title {
                font-size: 18px;
                line-height: 36px;
                color: #fff;
                text-align: center;
                width: 100%;
            }

        .vip_limit_button_box {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
        }

        .vip_limit_btn {
            display: inline-block;
            min-width: 100px;
            position: relative;
            background: #f60;
            padding: 0 35px;
            margin: 0px 5px 20px 5px;
            border-radius: 38px;
            font-size: 18px;
            line-height: 38px;
            color: #623A0C;
            text-align: center;
            background-image: linear-gradient(-135deg, #FBE8A8 0%, #F8E7AC 15%, #E2C078 100%);
            cursor: pointer;
        }

        .vip_limit_close {
            text-align: center;
        }

            .vip_limit_close span {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 36px;
                background: rgba(165, 165, 165, 0.54);
                border-radius: 50%;
                font-size: 24px;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div id="player-con" style="overflow:hidden"></div>
    
    <script>

        var source = "@Html.Raw(Model.FileUrl)";
        var classRoomCode = "@Model.ID";

        var player = new Aliplayer({
            id: "player-con",
            source: source,
            width: "100%",
            height: "380px",
            autoplay: true,
            isLive: false,
            components: [{
                name: 'MemoryPlayComponent',
                type: AliPlayerComponent.MemoryPlayComponent,
            }]
        });

      
    </script>
</body>
</html>
