@model TiKuBll.Model.TeacherValidModel


<input type="hidden" id="hidTeacherValue" value="@Model.fUserName" />
<select id="cmbTeacher" name="fTeacherUserName" onchange="GetValid(this)" style="width: 150px"></select>

<input type="hidden" id="hidTeacherValidValue" value="@Model.fID" />
<select id="cmbTeacherValid" name="fTeacherValidID" style="width: 150px" onchange="ChangeValid(this)">
</select>
<script type="text/javascript">
    $(document).ready(function () {

        $.getJSON("/ClassRoom/GetTeacherList", function (data) {
            $("#cmbTeacher").append("<option value=''>请选择</option>");

            $.each(data, function (i, item) {
                if (item["fMemberUserName"] == $("#hidTeacherValue").val()) {
                    $("<option></option>")
                              .val(item["fMemberUserName"])
                              .text(item["MemberName"])
                              .attr("selected", "selected")
                              .appendTo($("#cmbTeacher"));
                } else {
                    $("<option></option>")
                              .val(item["fMemberUserName"])
                              .text(item["MemberName"])
                              .appendTo($("#cmbTeacher"));

                }
            });

        });

        if ($("#hidTeacherValue").val() != "") {
            $.getJSON("/ClassRoom/GetTeacherValidList?strUserName=" + $("#hidTeacherValue").val(), function (data) {
                $("#cmbTeacherValid").append("<option value=''>请选择</option>");

                $.each(data, function (i, item) {
                    if (item["fID"] == $("#hidTeacherValidValue").val()) {
                        $("<option></option>")
                                  .val(item["fID"])
                                  .text(item["fPharse"] + item["fSubject"])
                                  .attr("selected", "selected")
                                  .appendTo($("#cmbTeacherValid"));
                    } else {
                        $("<option></option>")
                                  .val(item["fID"])
                                  .text(item["fPharse"] + item["fSubject"])
                                  .appendTo($("#cmbTeacherValid"));

                    }
                });

            });
        }
    })

    function GetValid(obj) {
        var teacherUserName = $(obj).val();
        $("#cmbTeacherValid").empty();
        $.getJSON("/ClassRoom/GetTeacherValidList?strUserName=" + teacherUserName, function (data) {
            $("#cmbTeacherValid").append("<option value=''>请选择</option>");

            $.each(data, function (i, item) {
                if (item["fID"] == $("#hidTeacherValidValue").val()) {
                    $("<option></option>")
                              .val(item["fID"])
                              .text(item["fPharse"] + item["fSubject"])
                              .attr("selected", "selected")
                              .appendTo($("#cmbTeacherValid"));
                } else {
                    $("<option></option>")
                              .val(item["fID"])
                              .text(item["fPharse"] + item["fSubject"])
                              .appendTo($("#cmbTeacherValid"));

                }
            });

        });
    }

    function ChangeValid(obj)
    {

    }
</script>
