@model TiKuBll.Model.ClassRoomListModel
@{
  ViewBag.Title = "课站";
}

   @if (Model.classRoomList.Count > 0)
   {

     foreach (var classRoom in Model.classRoomList)
     {
                             <div class="col-md-4 col-xs-6">
                              <div class="activiti_item">
                                <div class="img">
                                  <a href="/Open/ClassRoomDetail?strClassRoomCode=@classRoom.fClassRoomCode" class="view-more">
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@classRoom.fCoverImg?x-oss-process=style/width" alt=""></a>
                                </div>
                                  <div class="text">
                                      <h2 style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                                          @if (classRoom.fType == "Live")
                                          {
                                              <label>[直播]</label>
                                          }
                                          else
                                          {
                                              <label>[录播]</label>
                                          }
                                          <a href="#">@classRoom.fClassRoomTitle</a>
                                      </h2>
                                      <p style="height:40px; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;overflow: hidden;">

                                          @Html.Raw(Html.Encode(classRoom.fInfo).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))

                                      </p>
                                      <br />
                                      @if (classRoom.fType == "Live")
                                      {
                                          <span>开课时间：@classRoom.fClassRoomDate.ToShortDateString()</span>
                                      }
                                      else
                                      {
                                          <span>有效天数：@classRoom.fEffectDay 天</span>
                                      }
                                      <br />
                                      <span>讲师：@classRoom.TeacherName</span>
                                      <h2>￥ @classRoom.fPrice.ToString()</h2>
                                  </div>

                              </div>
                            </div>
     }
   }
   else
   {
   <div class="col-md-4 col-xs-6" style="width:100%;">
                              <div class="activiti_item" style="padding-left:35%;">
                                <div class="img" style=" width:30%;">
                                  <a href="#" class="view-more">
                                      <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ClassRoom-bg.jpg?x-oss-process=style/width" alt="" />
                                  </a>
                                </div>
                                <div class="text">
                                 
                                </div>
                              </div>
                            </div>
   }