@model KeZhan.Models.ResponseBaseModel

<section class="section-sub-banner" style=" padding-top:60px; background-image:url('../content/image/jhk-1545185427332.jpg')">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2 id="hMsg">提示</h2>
                <p>
                    @Model.strMsg
                </p>



            </div>
        </div>
    </div>
</section>
        