@model TiKuBll.Model.ClassRoomModel
@{
    ViewBag.Title = "创建在线课堂";
}


<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">


            <div class="row">
                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li class="active" onclick="showPanel('info')"><a href="#" style=" width:100%;" data-toggle="tab">创建课堂</a></li>

                        <li onclick="showPanel('list')"><a href="#" style=" width:100%;" data-toggle="tab">历史课堂</a></li>
                        <li ><a href="/Start/OnLineClass" style=" width:100%;" >进入课堂</a></li>
                        <li><a href="/Teacher/UserPay" style=" width:100%;">购买流量</a></li>
                    </ul>

                </div>



                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">
                        <p class="alert alert-danger" id="pMsg" style=" display:none">

                        </p>
                        <div class="reservation-billing-detail" id="panelData">
                            <p style=" font-size:12px;">
                                在线课堂可以随时建立，适用于在线辅导、讨论和会议等，从您进入课堂开始，按参与者停留课堂的时长计费。您可以告知学员课堂号加入在线课堂，请保证足够的流量余额，以免影响您的课堂使用。
                             

                            </p>
                            <br />
                            <h5>当前流量余额（分钟）：@Model.LeftFlow </h5>

                            <label>课程名称<sup>*</sup></label>
                            <input type="text" id="txtDictTitle" value="" class="input-text">


                            <label>最大时长<span style="font-size:12px;">(分钟)</span></label>
                            <select style="width:100%; height:42px; " id="txtDateLength">
                                <option value="10">10</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                                <option value="60">60</option>
                                <option value="90">90</option>
                                <option value="120">120</option>
                                <option value="180">180</option>
                            </select>
                            <label>价格<sup>*</sup><span style="font-size:12px;">(您向学员收取的费用)</span></label>
                            <input type="number" id="txtPrice" value="0" class="input-text">


                            <button class="awe-btn awe-btn-13" onclick="SaveClassCourse()">创建课堂</button>


                        </div>
                        <div class="reservation-billing-detail" id="panelList" style="display:none;">

                            <div class="reservation-room_package">
                              
                                <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">

                                    @if (Model.courseList != null)
                                    {
                                                <!-- ITEM PACKAGE -->
                                        foreach (var course in Model.courseList)
                                        {
                                            <div class="reservation-package_item">
                                               
                                                <div class="reservation-package_text">

                                                    <h4><a href="#">@course.fDictTitle</a></h4>
                                                    <p>
                                                       
                                                        <span>上课时间：@course.fClassDate.ToString()</span>
                                                        <span>时长：@course.fClassDateLength</span>
                                                    </p>

                                                    <div class="reservation-package_book-price">
                                                        @*<a href="#" class="awe-btn awe-btn-default">进入课堂</a>
                                                        <a href="#" class="awe-btn awe-btn-default">结算</a>*@
                                                    </div>
                                                </div>

                                            </div>
                                        }


                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END / CONTENT -->

                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    var classRoomCode = '@Model.fClassRoomCode';
    var classDate = '@DateTime.Now.AddMinutes(5).ToString()';

    function showPanel(div) {

        if (div == "info") {
            $(".reservation-billing-detail").hide();
            $("#panelData").show();
        } else if (div == "list") {
            $(".reservation-billing-detail").hide();
            $("#panelList").show();

        }
    }


    function SaveClassCourse() {
        $(".errorMsg").remove();

        if ($("#txtDictTitle").val().trim() == "") {
            $("#txtDictTitle").after("<span class=\"errorMsg\">课程名称不能为空</span>");
            $("#txtDictTitle").focus();
            return;
        }
        if ($("#txtPrice").val().trim() == "") {
            $("#txtPrice").after("<span class=\"errorMsg\">价格不能为空</span>");
            $("#txtPrice").focus();
            return;
        }

        $.ajax({
            url: "/LoginRequest/GetBrowserVersions",
            type: "Post",
            success: function (rst) {

                if (rst.iResult >= 0) {
                    ConfirmSaveCourse();

                } else if (rst.iResult == -9999) {
                    alert("请重新登录"); window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                } else {
                    if (confirm(rst.strMsg)) {
                        ConfirmSaveCourse();
                    } else {
                        newWindow.close();
                    }
                }
            }

        });


      
    }

    function ConfirmSaveCourse()
    {
        var CourseModel = {
            "fID": 0,
            "fClassType": "OnLine",
            "fClassRoomCode": classRoomCode,
            "fDictTitle": $("#txtDictTitle").val(),
            "fCourseTitle": $("#txtDictTitle").val(),
            "fClassDate": classDate,
            "fClassDateLength": $("#txtDateLength").val(),
            "fPrice": $("#txtPrice").val(),
            "fOrder": "0"
        }
        $.ajax({
            url: "/LoginRequest/DoSaveOnLineCourse",
            data: CourseModel,
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    $.ajax({
                        url: "/LoginRequest/CheckOnlineClass",
                        data: { "strCourseNo": classRoomCode + rst.iResult, "strRole": "Teacher" },
                        dataType: "json",
                        success: function (result) {

                            if (result.iResult > 0) {
                                alert("课堂号：" + classRoomCode + rst.iResult);
                                window.location.href = "/home/index?iCourseID=" + rst.iResult + "&strRole=Teacher";

                            } else if (result.iResult == -9999) {
                                alert("请重新登录"); window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                            } else {
                                alert(result.strMsg);
                            }
                        }

                    });




                } else if (rst.iResult == -9999) {
                    alert("请重新登录"); window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }
</script>