@model TiKuBll.Model.UserInfoModel
@{
    ViewBag.Title = "在线课堂";
}


<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">


            <div class="row">
                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li class="active" onclick="showPanel('info')"><a href="#" style=" width:100%;" data-toggle="tab">在线课堂</a></li>

                        @*<li onclick="showPanel('list')"><a href="#" style=" width:100%;" data-toggle="tab">列表</a></li>*@
                    </ul>

                </div>



                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">
                        <p class="alert alert-danger" id="pMsg" style=" display:none">

                        </p>
                        <div class="reservation-billing-detail" id="panelData">
                            <p>如果想自己创建在线课堂，请申请<a href="/html/UpdateRole">成为老师</a></p>


                            <label>课堂号<sup>*</sup></label>
                            <input type="number" maxlength="12" id="txtCourseNo" value="" placeholder="请输入老师提供的课堂号" class="input-text">


                            <br />
                            <br />
                            <button class="awe-btn awe-btn-13" id="btnJoin" onclick="JoinClass()">进入课堂</button>
                            <div id="divCourse" style=" display:none">
                                <p></p>
                                <label>课堂名称</label>
                                <span id="spanTitle"></span>
                                <label>开课时间</label>
                                <span id="spanDate"></span>
                                <label>课程时长</label>
                                <span id="spanDateLength"></span>
                                <label>价格</label>
                                <span id="spanPrice"></span>
                                
                                <label>支付方式</label>
                                <ul class="option-bank">

                                    <li id="liAli">
                                        <label class="label-radio">
                                            <input type="radio" class="input-radio" name="rPayType" value="alipay">
                                            支付宝
                                        </label>

                                        @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                    </li>
                                    <li>
                                        <label class="label-radio">
                                            <input type="radio" class="input-radio" name="rPayType" value="weixinpay">
                                            微信
                                        </label>

                                        @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                    </li>
                                    @*@if (Model.UserAccountAmount > Model.fAmount)
                                    {
                                        <li>
                                            <label class="label-radio">
                                                <input type="radio" class="input-radio" name="rPayType" value="aizhupay">
                                                账户余额
                                            </label>

                                        </li>
                                    }*@
                                </ul>
                                <div id="divQrCode" style=" display:none;">
                                </div>
                                <br />
                                <button class="awe-btn awe-btn-13" data-reveal-id="divPayCode" id="btnPay">支付订单</button>

                            </div>

                        </div>

                    </div>
                    <!-- END / CONTENT -->

                </div>
            </div>
        </div>
    </div>
</section>




<script type="text/javascript">
    var username = '@Model.fUserName';
    var openid = '@Model.fOpenID';

    $(document).ready(function () {
        if (is_weixn()) {
            $("#liAli").hide();
        }
    })

    function showPanel(div) {

        if (div == "info") {
            $(".reservation-billing-detail").hide();
            $("#panelData").show();
        } else if (div == "list") {
            $(".reservation-billing-detail").hide();
            $("#panelQA").show();

        }
    }

    function SubmitOrder(iCourseID,price) {

        $.ajax({
            url: "/LoginRequest/DoSubmitCourseBooking",
            data: { "iCourseID": iCourseID },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    if (rst.iResult == 0) {
                        var payType = $("input[name='rPayType']:checked").val();
                       
                        if (payType == "aizhupay") {
                            AiZhuPay(rst.strMsg);
                        } else {
                            if (IsPC()) {
                                PCPay(rst.strMsg, price);
                            } else {
                                if (is_weixn()) {
                                    WXPay(rst.strMsg, price);
                                } else {
                                    WapPay(rst.strMsg, price);
                                }
                            }
                        } 
                    }
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }



    function PCPay(bookingNo, leftAmount) {
        var payType = $("input[name='rPayType']:checked").val();
        if (payType == "weixinpay") {


            $.ajax({
                url: "/weixinpay/UserPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        $("#imgQrCode").attr("src", "http://qr.topscan.com/api.php?text=" + rst.strMsg);
                        $("#myBGDiv").show();
                        $("#divPayCode").show();

                        setTimeout("GetBookingNo('" + bookingNo + "')", 2000);//获取支付结果
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        } else {
            $.ajax({
                url: "/alipay/UserPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        $("#divQrCode").html(rst.strMsg);
                        $("#divQrCode").show();
                        $("#btnPay").hide();
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        }
    }

    function WapPay(bookingNo, leftAmount) {
        var payType = $("input[name='rPayType']:checked").val();
        if (payType == "weixinpay") {
            $.ajax({
                url: "/weixinpay/UserWapPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        window.location.href = rst.strMsg;
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        } else {
            $.ajax({
                url: "/alipay/UserWapPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {

                    if (rst.iResult >= 0) {
                        $("#divQrCode").html(rst.strMsg);
                        $("#divQrCode").show();
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        }
    }

    function WXPay(bookingNo, leftAmount) {

        $.ajax({
            url: "/weixinpay/UserWeiXinPay",
            data: { "openid": openid, "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": rst.appId,     //公众号名称，由商户传入
                    "timeStamp": rst.timeStamp,         //时间戳，自1970年以来的秒数
                    "nonceStr": rst.nonceStr, //随机串
                    "package": rst.packageValue,
                    "signType": "MD5",         //微信签名方式:
                    "paySign": rst.paySign //微信签名
                },
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        setTimeout(window.location.reload(), 1000);
                    } else {
                        // alert(res.err_msg);
                        $("#btnPay").attr("disabled", false)
                        $("#btnPay").val("支付");
                    }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。

                }
               );
            },
            fail: function (err) {
                alert(err);
            }

        });

    }

    function AiZhuPay(bookingNo) {
        var tradePass = "";
        tradePass = prompt("请输入交易密码")
        if (tradePass == "") {
            alert("请输入交易密码");
            return;
        }

        $.ajax({
            url: "/AiZhuPay/BookingPay",
            data: { "strBookingType": "Booking", "strBookingNo": bookingNo, "strTradePass": tradePass },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("支付成功");
                    window.location.reload();
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }


    function JoinClass() {
        $(".errorMsg").remove();

        if ($("#txtCourseNo").val().trim() == "") {
            $("#txtCourseNo").after("<span class=\"errorMsg\">请输入老师提供的课堂号</span>");
            $("#txtCourseNo").focus();
            return;
        }

        $.ajax({
            url: "/LoginRequest/GetBrowserVersions",
            type: "Post",
            success: function (rst) {

                if (rst.iResult >= 0) {
                    ConfigJoin();

                } else if (rst.iResult == -9999) {
                    alert("请重新登录"); window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                } else {
                    if (confirm(rst.strMsg)) {
                        ConfigJoin();
                    } else {
                        newWindow.close();
                    }
                }
            }

        });


       

    }

    function ConfigJoin()
    {
        $.ajax({
            url: "/LoginRequest/CheckOnlineClass",
            data: { "strCourseNo": $("#txtCourseNo").val() },
            dataType: "json",
            success: function (rst) {
                if (rst.iResult == 0) {
                    $("#spanTitle").text(rst.ClassTitle);
                    $("#spanDate").text(rst.ClassDate);
                    $("#spanDateLength").text(rst.ClassLength);
                    $("#spanPrice").text(rst.Price);
                    $("#btnPay").attr("onclick", "SubmitOrder(" + rst.CourseID + "," + rst.Price + ")");


                    $("#btnJoin").hide();
                    $("#divCourse").show();
                }
                else if (rst.iResult > 0) {
                    window.location.href = "/home/index?iCourseID=" + rst.iResult;

                } else if (rst.iResult == -9999) {
                    alert("请重新登录"); window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }

    function GetBookingNo(bookingno) {
        $.ajax({
            url: "/weixinpay/GetBookingStatus",
            data: { "strBookingNo": bookingno },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult == 0) {
                    alert("支付成功,请重新点击进入课堂按钮");
                    ClosePayCode();
                    $("#divCourse").hide();
                    $("#btnJoin").show();
                } else {
                    setTimeout("GetBookingNo('" + bookingno + "')", 2000);
                }
            }

        });

    }


    function ClosePayCode() {
        $("#myBGDiv").hide();
        $("#divPayCode").hide();
    }
</script>