@{
    ViewBag.Title = "课站";
    TiKuBll.Model.UserInfoModel userInfo = KeZhan.Code.Fun.GetSessionUserInfo(this);
}
<section class="section-slider">
    <h1 class="element-invisible">Slider</h1>
    <div id="slider-revolution">
        <ul>
            <li data-transition="fade">
                <img src="../../Content/image/jhk-1555420546694.jpeg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                @*<div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="100" data-speed="700" data-start="1500" data-easing="easeOutBack">
                        <img src="../../Content/images/slider/hom1-slide1.png" alt="icons">
                    </div>*@

                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    专注、开放的知识分享在线课堂平台
                </div>

                @*<div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280" data-speed="700" data-easing="easeOutBack" data-start="2000">THE LOTUS HOTEL</div>*@

                <a href="/open/StudentRegsiter" class="tp-caption sfb fadeout awe-btn awe-btn-12 awe-btn-slider" data-x="center" data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">立即注册</a>
            </li>

            <li data-transition="fade">
                <img src="../../Content/image/jhk-1555420546694.jpeg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                @*<div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300" data-easing="easeOutBack">
                        <img src="../../Content/images/icon-slider-1.png" alt="">
                    </div>*@

                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    免费注册、按使用流量付费、使用再付、即付即用
                </div>

                @*<div class="tp-caption sfb fadeout slider-caption slider-caption-3" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack" data-start="2000">
                        UNIQUE 60%
                    </div>*@

                @*<div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2200">JUST LIKE YOU</div>

                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="395" data-easing="easeOutBack" data-speed="700" data-start="2400"><img src="../../Content/images/icon-slider-2.png" alt=""></div>*@
            </li>
            <li data-transition="fade">
                <img src="../../Content/image/jhk-1555420546694.jpeg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">
                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    基于腾讯云、阿里云基础应用、稳定可靠、可拓展性强
                </div>
            </li>
            <li data-transition="fade">
                <img src="../../Content/image/jhk-1555420546694.jpeg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">
                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    实时音视频互动、白板、屏幕分享、易学易用、支持多学科在线课堂场景需求
                </div>
            </li>
            <li data-transition="fade">
                <img src="../../Content/image/jhk-1555420546694.jpeg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">
                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    个体老师、培训工作室、中小培训机构的理想合作伙伴
                </div>
            </li>
        </ul>
    </div>

</section>


<br />
<section class="section-news mt60">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-lg-6 col-lg-offset-3">
                    <div class="ot-heading row-20 mb40 text-center" style="font-size:20px; font-weight:bold;">
                        课站，在线培训的基地
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="item">
                        <div class="img">
                            <img class="img-responsive img-full" src="../../Content/image/jhk-1545207319691.jpeg" alt="">
                        </div>
                        <div class="info">
                            <a class="title font-monserat f20 mb20 block bold upper" style="text-align:center" href="!#">
                                支持多种培训
                            </a>
                            <p class="date" style="text-align:center">
                                职业培训、素质教育、K12学科教育
                            </p>
                            @*<a class="more block f13" href="!#">[Read more]</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="item">
                        <div class="img">
                            <img class="img-responsive img-full" src="../../Content/image/jhk-1545207147269.jpg" alt="">
                        </div>
                        <div class="info">
                            <a class="title font-monserat f20 mb20 block bold upper" style="text-align:center" href="!#">
                                多培训场景支持

                            </a>
                            <p class="date" style="text-align:center">
                                一对一、小班课、大班课、录播互动课
                            </p>
                            @*<a class="more block f13" href="!#">[Read more]</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="item">
                        <div class="img">
                            <img class="img-responsive img-full" src="../../Content/image/jhk-1545206642368.jpg" alt="">
                        </div>
                        <div class="info">
                            <a class="title font-monserat f20 mb20 block bold upper" style="text-align:center" href="!#">
                                集成的在线课堂工具
                            </a>
                            <p class="date" style="text-align:center">
                                实时音视频、即时通讯、白板、屏幕分享
                            </p>
                            @*<a class="more block f13" href="!#">[Read more]</a>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="item">
                        <div class="img">
                            <img class="img-responsive img-full" src="../../Content/image/jhk-1545206676889.jpg" alt="">
                        </div>
                        <div class="info">
                            <a class="title font-monserat f20 mb20 block bold upper" style="text-align:center" href="!#">
                                多种课程销售支持
                            </a>
                            <p class="date" style="text-align:center">
                                公开课、私课、线上支付、线下支付
                            </p>
                            @*<a class="more block f13" href="!#">[Read more]</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="item">
                        <div class="img">
                            <img class="img-responsive img-full" src="../../Content/image/jhk-1545205937970.jpg" alt="">
                        </div>
                        <div class="info">
                            <a class="title font-monserat f20 mb20 block bold upper" style="text-align:center" href="!#">
                                高效严密的课程管理
                            </a>
                            <p class="date" style="text-align:center">
                                社交推广、购买、退课、结算、提现
                            </p>
                            @*<a class="more block f13" href="!#">[Read more]</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="item">
                        <div class="img">
                            <img class="img-responsive img-full" src="../../Content/image/jhk-1545205793078.jpeg" alt="">
                        </div>
                        <div class="info">
                            <a class="title font-monserat f20 mb20 block bold upper" style="text-align:center" href="!#">
                                轻量化的使用模式
                            </a>
                            <p class="date" style="text-align:center">
                                网页、小程序直接接入、易学易用
                            </p>
                            @*<a class="more block f13" href="!#">[Read more]</a>*@
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="text-center">
                    <a href="!#" class="awe-btn awe-btn-default font-hind f12 bold btn-medium mt15">View more</a>
                </div>*@
        </div>
    </div>
</section>
<br />
<br />
<br />
<section class="section-guestbook-event bg-white">
    <div class="container">
        <div class="guestbook-event">
            <div class="row">
                <div class="col-xs-12 col-lg-6 col-lg-offset-3">
                    <div class="ot-heading row-20 mb40 text-center" style="font-size:20px; font-weight:bold; padding-top:50px;">
                        课站，知识分享者和中小机构的新领地
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @*<h2 class="heading">GUEST BOOK</h2>*@
                    <div class="guestbook-content_1 owl-single owl-carousel owl-theme" style="display: block; opacity: 1;">
                        <!-- ITEM -->
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 2280px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 570px;">
                                    <div class="guestbook-item_1">
                                        <div class="img">
                                           
                                            <span><strong>个体知识分享者</strong></span>
                                        </div>

                                        <div class="text">
                                            <p>
                                                如果您是个老师，拥有一些自己的粉丝学生，您可以在课站上开设在线课程。
                                                设置课程、发布课程、推广课程、上课、上传视频和资料，课站是您的理想选择!
                                                <br />
                                                <br />
                                                <br />
                                                <a href="/open/StudentRegsiter" class="awe-btn awe-btn-default">立即注册</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <!-- END / ITEM -->
                        @*<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="lotus-icon-left-arrow"></i></div><div class="owl-next"><i class="lotus-icon-right-arrow"></i></div></div></div>*@
                    </div>
                </div>
                <div class="col-md-6">
                    @*<h2 class="heading">GUEST BOOK</h2>*@
                    <div class="event-slide owl-single owl-carousel owl-theme" style="display: block; opacity: 1;">
                        <!-- ITEM -->
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 2280px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 570px;">
                                    <div class="event-item">
                                        <div class="img hover-zoom">
                                            <a href="#">
                                                <img src="../../Content/image/jhk-1545205937970.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 570px;">
                                    <div class="event-item">
                                        <div class="img hover-zoom">
                                            <a href="#">
                                                <img src="images/home/eventdeal/img-1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <!-- END / ITEM -->
                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="lotus-icon-left-arrow"></i></div><div class="owl-next"><i class="lotus-icon-right-arrow"></i></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-home-about bg-white">
    <div class="container">
        <div class="home-about">
            <div class="row">
                <div class="col-md-6">
                    <div class="img">
                        <a href="#"><img src="../../Content/image/jhk-1555415089893.jpeg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text">
                        <span style="font-size:20px; font-weight:500;">
                            培训工作室或中小机构
                        </span>
                            <span></span>
                            <p>如果您拥有一个虚拟或实体的培训工作室或机构，您可以将多个老师聚合在一起，学生资源共享、集中采购平台的流量，获取更高的收益。</p>
                        <a href="/open/StudentRegsiter" class="awe-btn awe-btn-default">立即注册</a>
</div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
@*<section class="section-statistics" style="background-image:url('../../Content/image/jhk-1555459031562.jpg')" >

    <div class="awe-overlay"></div>
    <div class="container">
        <div class="statistics">

            <h2 class="heading white text-center">互联网+培训，未来重要的一个培训模式</h2>

            <div class="statistics_content">
                <div class="row">

                    <!-- ITEM -->
                    <div class="col-xs-6 col-md-3">
                        <div class="statistics_item">
                            <span class="count">1000</span>
                            <span>公开课时</span>
                        </div>
                    </div>
                    <!-- END ITEM -->
                    <!-- ITEM -->
                    <div class="col-xs-6 col-md-3">
                        <div class="statistics_item">
                            <span class="count">3000</span>
                            <span>私课</span>
                        </div>
                    </div>
                    <!-- END ITEM -->
                    <!-- ITEM -->
                    <div class="col-xs-6 col-md-3">
                        <div class="statistics_item">
                            <span class="count">100</span>
                            <span>注册老师</span>
                        </div>
                    </div>
                    <!-- END ITEM -->
                    <!-- ITEM -->
                    <div class="col-xs-6 col-md-3">
                        <div class="statistics_item">
                            <span class="count">1000</span>
                            <span>注册学员</span>
                        </div>
                    </div>
                    <!-- END ITEM -->

                </div>
            </div>
        </div>
    </div>
</section>*@
@*<section class="section-sub-banner bg-9">
                <div class="awe-overlay"></div>
                <div class="sub-banner">
                    <div class="container">
                        <div class="text text-center">
                            <h2 style=" margin:0 0 20px 0;">关于课站</h2>
                            <p>“课站”是一个在线知识分享平台，注册老师在平台上发布课程、资料供平台用户学习。我们希望通过平台，平台用户可以便捷获得所需要的知识、提高学习效率和降低学习成本；老师在分享知识的同时获取应得的收益。平台通过采用最新的技术实现，让线上知识传授的体验更好，更大程度地发挥优质老师的知识传授面和提高平台用户的学习效果。</p>
                        </div>
                    </div>
                </div>
            </section>


    <section class="section-home-about bg-white">
                <div class="container">
                    <div class="home-about">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img">
                                    <a href="#"><img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20181221120035.png?x-oss-process=style/width" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text">
                                    <h2 class="heading">老师注册</h2>
                                    <p>“课站”作为一个知识分享的平台，如果你有兴趣将您的知识通过平台分享给其他人，请注册成为老师，平台将在2个工作日审核您的申请，一旦申请通过，您可获得平台的服务和通过平台实现在线授课或分享您的资料</p>
                                    @if (userInfo == null)
                                    {
                                    <a href="/open/TeacherRegsiter" class="awe-btn awe-btn-default">注册</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <section class="section-our-best bg-white">
                <div class="container">

                    <div class="our-best">
                        <div class="row">

                            <div class="col-md-6 col-md-push-6">
                                <div class="img">
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20181221120140.png?x-oss-process=style/width" alt="">
                                </div>
                            </div>

                            <div class="col-md-6 col-md-pull-6 ">
                                <div class="text">
                                    <h2 class="heading">功能和服务</h2>
                                    <p>当老师注册审核通过后，可以通过平台授课，老师还可以根据需要建立公开课和私课，平台提供多种功能实现知识分享，更多的功能逐步提供  …..
    </p>
                                    <ul>
                                        <li><img src="../../Content/images/home/ourbest/icon-3.png" alt="icon">在线音视频、文本互动</li>
                                        <li><img src="../../Content/images/home/ourbest/icon-2.png" alt="icon">互动白板</li>
                                        <li><img src="../../Content/images/home/ourbest/icon-4.png" alt="icon">课程回放</li>
                                        <li><img src="../../Content/images/home/ourbest/icon-5.png" alt="icon">7x24小时在线服务 </li>
                                        <li><img src="../../Content/images/home/ourbest/icon-1.png" alt="icon">在线资料浏览和下载</li>
                                        <li><img src="../../Content/images/home/ourbest/icon-6.png" alt="icon">课程管理和推广</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>*@
