@model TiKuBll.Model.ClassRoomListModel
@{
    ViewBag.Title = "课站";
}


<!-- ACTIVITI -->
<section class="section-activiti bg-white">
    <div class="container">

        <div class="activiti">

            <div class="gallery-cat activiti-cat ">

                <ul class="list-inline" id="subjectZX">
                    <li onclick="CheckSubject(this, '市场营销')"><a href="#">市场营销</a></li>
                    <li onclick="CheckSubject(this, '会计')"><a href="#">会计</a></li>
                    <li onclick="CheckSubject(this, '法律')"><a href="#">法律</a></li>
                    <li onclick="CheckSubject(this, '科学')"><a href="#">科学</a></li>
                    <li onclick="CheckSubject(this, '烹调')"><a href="#">烹调</a></li>
                    <li onclick="CheckSubject(this, '速记')"><a href="#">速记</a></li>
                    <li onclick="CheckSubject(this, '其他')"><a href="#">其他</a></li>
                </ul>
               
            </div>

            <div class="activiti_content">

                <div class="row" id="divClassRoom">



                    @if (Model.classRoomList != null && Model.classRoomList.Count > 0)
                    {
                        foreach (var classRoom in Model.classRoomList)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="activiti_item">
                                    <div class="img">
                                        <a href="/Open/ClassRoomDetail?strClassRoomCode=@classRoom.fClassRoomCode" class="view-more">
                                            <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@classRoom.fCoverImg?x-oss-process=style/width" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h2 style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                                            <a href="#">@classRoom.fClassRoomTitle</a>
                                        </h2>
                                        <p style="height:40px; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;overflow: hidden;">

                                            @Html.Raw(Html.Encode(classRoom.fInfo).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))

                                        </p>
                                        <br />
                                            <span>开课时间：@classRoom.fClassRoomDate.ToShortDateString()</span>
                                            <br />
                                            <span>讲师：@classRoom.TeacherName</span>
                                        <h2>￥ @classRoom.fPrice.ToString()</h2>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="col-md-4 col-xs-6">
                            <div class="activiti_item">
                                <div class="img">
                                    <a href="#" class="view-more">
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ClassRoom-bg.jpg?x-oss-process=style/title" alt="" />
                                    </a>
                                </div>
                                <div class="text">

                                </div>
                            </div>
                        </div>
                    }


                </div>

                <!-- PAGE NAVIGATION   -->
                @*<ul class="page-navigation text-center">
                        <li class="first"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="current-page"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li class="last"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                    </ul>*@
                <!-- END / PAGE NAVIGATION   -->

            </div>

        </div>

    </div>
</section>
<!-- END / ACTIVITI -->


<script type="text/javascript">
    var strPharse = "9";
    var strGrade = "";
    var strSubjet = "";

   

    function CheckSubject(obj, subject) {

        $(obj).parent().children("li").removeClass("active");
        $(obj).addClass("active");
        strSubjet = subject;
        QueryClassRoom();
    }

    function QueryClassRoom() {
        $.ajax({
            url: "/open/QueryClassRoom",
            type: this.method,
            data: {"strPharse": strPharse, "strGrade": strGrade, "strSubjet": strSubjet },
            success: function (msg) {
                $('#divClassRoom').html(msg);
            }
        });

    }
</script>