@{
  ViewBag.Title = "课站";
}


<section class="section-term-condition bg-white">
            <div class="container">

                <div class="term-condition">
                    <br />
                    <br />
                    <h3 class="text-uppercase">课站平台服务协议</h3>
                    <br>
                    <br />
                    <br />
                    <h6>【首部及导言】
欢迎您使用课站平台服务（以下简称：“本服务”）！
为使用本服务，您应当阅读并遵守《课站平台服务协议》（以下称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是限制或免除责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。
除非您已阅读并接受本协议所有条款，否则您无权使用本服务。如您在本服务中进行的支付、添加、使用等行为即视为您已阅读并同意受本协议的约束。
如果您未满18周岁，请在法定监护 人的陪同下阅读本协议，并在法定监护人的指导下使用本服务。</h6>
                    <br />
                    <br />
                    <br />
<h6>一、 【协议范围】</h6>
本协议是您（以下也称“用户”）、课站平台、课程开发者等之间关于您使用本服务所涉相关事项的法律协议。
                    <br /><br />
                    <br />
                    <br />
<h6>二、 【术语定义】</h6>
如无特别说明，下列术语在本协议中的含义为：
<ul><li>2.1.课程发布者：指经有效注册、申请后，将其享有相应权利的各种课程和资讯接入课站平台，并向用户提供各种免费或收费类的课程在线互动直播、录播服务及相关的图文资讯服务，以实现与用户进行在线交流与学习功能的个人、法人或其他组织，因前述主体的不同，发布者在对外展现上也称“机构”或“老师”。
</li><li>2.2.课程：指由课程发布者开发，或课程发布者经权利人授权，通过课站平台向相关用户提供各种免费或收费类的在线直播、录播形式和图文交流与学习服务，包括但不限于语言类、成人考试类、小学/初中/高中教育辅导类（非学历教育）、学历教育辅导类等现存的各种培训服务及今后可能出现的各种培训服务。课程是否收费、课程收费的数额、课程收费方式、课程的收费期限等均由课程发布者自行决定。
</li><li>2.3.课站平台：指由上海艾住信息科技有限公司所有，未来将上线的平台或网站中设立的供课程发布者发布课程和相关资讯的平台，以下简称为“课站平台”。
<h6>课站平台、课程发布者、用户均同意和理解：
<br />（1）课站平台是一个中立的平台服务提供者，仅向课程发布者提供信息存储空间、在线互动上课工具、链接等中立的网络服务或相关中立的技术支持服务，以供课程发布者在中立的平台上自主发布、上课、运营、推广其课程和服务等。
<br />（2）课程发布者的课程由课程发布者自主开发、独立运营并独立承担全部责任。课站平台不会、也不可能参与课程发布者课程的研发、运营等任何活动，课站平台也不会对课程发布者的课程进行任何的修改、编辑或整理等。
<br />（3）因课程发布者课程产生的任何纠纷、责任等，以及课程发布者违反相关法律法规或本协议约定引发的任何后果，均由课程发布者独立承担责任、赔偿损失，与课站平台无关。如侵害到用户、课站平台或他人权益的，课程发布者须自行承担全部责任和赔偿一切损失。
</h6>
</li></ul>
                    <br />
                    <br />
                    <br />
<h6>三、 【关于本服务】</h6>
<ul><li>3.1.
【本服务内容】
本服务是指用户向课程发布者免费报名或支付课程费用后、享受由课程发布者提供的课程等相关服务。
</li><li>3.2.
【本服务形式】
您可能需通过PC浏览器或微信小程序登录相关页面来使用本服务。当您使用本服务时，您应选择与您的终端、系统等相匹配的版本，否则，您可能无法正常使用本服务。

</li></ul>
                    <br />
                    <br />
                    <br />
<h6>四. 【服务的使用】</h6>
用户通过本服务来使用课程发布者提供的课程时，用户应当注意以下几点：
<ul><li>4.1.
用户通过本服务使用的课程均由课程发布者单独提供，用户在查询、报名、购买、使用课程或支付费用等之前，应该谨慎判断课程发布者发布的课程相关信息（包括但不限于课程的内容、开课的时间、开课的期限等）的准确性、真实性、合法性，并自行判断课程发布者的履约能力，课站平台对课程发布者提供的课程无法做任何保证，也不承担任何责任。<h6>因查询、报名、购买、使用课程或支付费用等产生的任何纠纷，您应当与课程发布者协商、诉讼解决，并独立承担相应的风险或责任，与课站平台无关。</h6>
</li><li>4.2.
用户向课程发布者购买收费课程服务时，可选择课站平台提供的相关支付方式或者其他非课站平台提供的方式完成支付
<h6>（注：为了更好地保护您的合法权益，课站平台建议您尽可能选择课站平台提供的支付方式来完成支付）。</h6>
</li><li>4.3.
用户向课程发布者成功报名课程是指：收费课程的报名成功指用户报名后向课程发布者支付成功相应费用并经课程发布者确认报名成功的；免费课程的报名成功指用户报名后并经课程发布者确认报名成功的。用户成功报名课程后，应当在课程发布者规定的课程时间及期限内即时接受由课程发布者提供的相关课程服务，如因用户自身原因（包括但不限于用户设备故障、网络阻塞、网络断开、忘记课程时间等）导致未能完整接受或未能接受课程发布者提供的相关课程服务时，用户应当自行承担相应责任并默认用户已学习相关课程服务且您无权要求退换任何费用。
</li><li>4.4.
用户向课程发布者支付课程费用后，如需索要发票等支付凭证或者服务单据的，用户应当向课程发布者提出，并由课程发布者依法开具并邮寄相应的发票等支付凭证或者服务单据，与课站平台无关。
</li></ul>
                    <br />
                    <br />
                    <br />
<h6>五. 【关于退费】</h6>
<ul><li>5.1.
用户向课程发布者支付课程费用后，如课程发布者发布的课程不存在违反法律法规规定及课站平台相关规定，亦不存在按课站平台相关规定可以退费的情况下，用户在报名成功后，均不得申请退款；
</li><li>5.2.
用户向课程发布者支付课程费用后，如课程发布者发布的课程存在违反法律法规规定及课站平台相关规定而发生退费的，则用户同意按如下规则退费：
（1）如果用户购买的是录播课程或含有录播课程，由于用户可以在线回看或下载观看，因此，录播课程不予退费；
（2）如果用户购买的是直播课程，且购买当时已经开课，由于用户可以观看已经开课课程的回放内容，因此，可以回放的课程视为用户已经学习的课程而不予退费，即，用户可以要求退费的比例为尚未开课的课程除以课程发布者发布的所有课程；
</li><li>5.3.
若用户购买的课程不是通过课站平台提供的支付方式完成支付的，则，若用户与课程发布者之间就款项支付、退款等任何事项，由用户与课程发布者自行协商解决，用户无权向课站平台主张任何权利或要求课站平台承担任何责任。
</li></ul>
                    <br />
                    <br />
                    <br />
<h6>六、 【法律责任】</h6>
<ul><li>6.1.
用户在使用本服务时，应当清楚并同意按以下约定承担相应责任：
<ul><li>6.1.1.
课站平台在本服务中的责任
用户因使用本服务查询、报名、购买、使用课程发布者的课程时，课站平台按以下规则承担相应责任：
用户因使用本服务查询、报名、购买、使用课程发布者提供的课程发生纠纷时，由于相应课程均由课程发布者单独提供，课站平台不会也无法参与其中，因此，用户应当与课程发布者协商、诉讼解决，并独立承担相应的风险或责任，与课站平台无关。但，由于课站平台过错造成的，课站平台会依法承担相应责任。
</li><li>6.1.2.
课程发布者在本服务中的责任
用户查询、报名、购买、使用的课程，均由课程发布者单独提供并由课程发布者独立承担责任，用户因查询、报名、购买、使用的课程不符合双方约定或法律法规的规定而与课程发布者发生纠纷的，用户应当与课程发布者协商、诉讼解决，课程发布者应该依法承担相应的责任，与课站平台无关。
</li></ul>
</li><li>6.2.
用户同意并理解，课程发布者拥有课程版权，私自录像或未经版权所有者同意擅自传播属于侵权行为；发生版权纠纷的，课程发布者应当与侵权者协商、诉讼解决，侵权者应该依法承担相应的责任；平台有权协助课程发布者终止侵权者使用课程并不退还缴纳的费用。
</li></ul>
                    <br />
                    <br />
                    <br />
<h6>七、 【其他】</h6>
<ul><li>7.1.
课站平台有权在必要时修改本协议，用户可以在相关页面中查阅最新的本协议。用户任何使用本服务的行为，即视为用户已经阅读并同意本协议及相应更新。如果您不接受修改后的协议，应当停止使用本服务。
</li><li>7.2.
本协议签订地为中华人民共和国上海市。
</li><li>7.3.
本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
</li><li>7.4.
若您和课站平台、课程发布者之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您可以将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。
</li><li>7.5.
本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。
</li><li>7.6.
本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。
</li><li>7.7.
若本协议有中文、英文等多个语言版本，相应内容不一致的，均以中文版的内容为准。（完）
      </li></ul>              
                    <br>

              

                </div>

            </div>
        </section>