@{
    ViewBag.Title = "课站";
}

<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">

            <div class="row">
                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li onclick="showPanel('StudentQA')"><a href="#" style=" width:100%;" data-toggle="tab">学员常见问题</a></li>
                        <li onclick="showPanel('TeacherQA')"><a href="#" style=" width:100%;" data-toggle="tab">老师常见问题</a></li>
                    </ul>
                </div>


                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">
                        <div class="reservation-billing-detail" id="panelStudentQA" >
                            <h3 class="text-uppercase">
                                常见问题（学员）：
                            </h3>
                            <br />
                            <br />
                            <h6> Q1：注册平台用户的要求？</h6>
                            A1：平台用户注册是免费，只需要绑定本人的手机号码，注册完成可以购买报名课程，但不能发布课程，发布课程需要注册成为平台的老师；

                            <br />
                            <br />
                            <h6>
                                Q2：线下支付的课程如何购买？
                            </h6>
                            A2：如果课程是线下支付，您在课程销售页面报名，然后联系课程发布者约定支付方式和完成支付。完成支付后，老师会在平台确认，确认后您才可以进入课堂上课；
                            <br />
                            <br />
                            <h6>
                                Q3：如何开票？
                            </h6>
                            A3：如果您需要开票，请与老师联系，由老师提供发票，平台不负责开票；
                            <br />
                            <br />
                            <h6>
                                Q4：课程如何退课和退款？
                            </h6>
                            A4：如果是线上支付到平台的课程是可退款，且您符合退款条件，您可以在课程详情或订单中发起退款，课程发布者将在3日内确认你的退款，退款将5-7个工作日内到达您的支付账户，如有疑问，请联系课程发布者；如果是线下支付的课程，请联系课程发布者退课和退款；
                            <br />
                            <br />
                            <h6>
                                Q5：我上课可以使用那类终端设备？
                            </h6>
                            A5：只要使用符合要求的PC浏览器，目前只支持在PC上上课，操作系统支持Windows和Mac，学员推荐使用谷歌浏览器；
                            <br />
                            <br />
                            <h6>
                                Q6：我听不清老师的讲课或老师看不见我的头像，如何解决？
                            </h6>
                            A6：调节PC或耳机音量，检查下您的摄像头（PC自带或外接），启动检测：（链接）；

                        </div>
                        <div class="reservation-billing-detail" id="panelTeacherQA" style="display:none;">
                            <h3 class="text-uppercase">
                                常见问题（老师）：
                            </h3>
                            <br />
                            <br />
                            <h6>
                                Q1：注册平台用户的要求？
                            </h6>
                            A1：平台用户注册是免费，只需要绑定本人的手机号码，注册完成可以购买报名课程，但不能发布课程，发布课程需要注册成为平台的老师；
                            <br />
                            <br />
                            <h6>
                                Q2：注册成平台老师的要求？
                            </h6>
                            A2：在注册成平台用户的基础上，还需要验证用户的身份证，再根据您未来可能发布的课程类型，提交教师证或学历证明或国家认可的专业资质证书认证，平台认证通过后，您就成为平台的老师。老师注册免费。
                            <br />
                            <br />
                            <h6>
                                Q3：如果我想发布K12学科类的课程，需要哪些证书？
                            </h6>
                            A3：根据国家相关规定，K12学科授课必须拥有相关学科的教师证；
                            <br />
                            <br />
                            <h6>
                                Q4：如果我没有教师证，可以发布哪些类型的课程？
                            </h6>
                            A4：目前如果课站平台发布非K12学科课程，只需要提供大专以上的学历证明或其他国家认可的专业资质证书。特别的，如果你发布的是私课，只要是平台的老师，任何平台界定的课程类型都可发布。
                            <br />
                            <br />
                            <h6>
                                Q5：什么是私课？
                            </h6>
                            A5：发布的课程在平台上不被所有人搜索和购买，只能通过渠道，比如微信向您认识的朋友或熟人推荐购买；
                            <br />
                            <br />
                            <h6>
                                Q6：平台使用如何收费？
                            </h6>
                            A6：目前平台只向课程发布者收取费用，按课程上课学员（含老师）数量和课程发布的上课时长（分钟计费）收费；如果您课程设置课程购买是线上支付，还要收取支付总价的1%，作为平台的代收代付管理费，包括微信支付或支付宝支付收取的6%手续费。其他今后平台提供的服务收费，比如录播课程、在线辅导等收费另行公布；
                            <br />
                            <br />
                            <h6>
                                Q7：平台如何结算费用？
                            </h6>
                            A7：对于线上支付的课程，在课程结束后7个工作日，如果课程学员没有提出异议和没有未确认的合理退款，平台自动结算费用，结算的金额将转入用户的现金账户，详见《结算规则》；
                            <br />
                            <br />
                            <h6>
                                Q8：如何提现？
                            </h6>
                            A8：老师在现金账户提现，详见《提现规则》；
                            <br />
                            <br />
                            <h6>
                                Q9：如何开票？
                            </h6>
                            A9：如果老师要求开票，平台只开具平台所得，包括：代收代付管理费和老师购买流量的费用？学员要求开票由老师自行处理；
                            <br />
                            <br />
                            <h6>
                                Q10：老师如何支付平台的使用费？
                            </h6>
                            A10：老师通过购买流量支付平台使用费，在每个课时开始时，平台根据上课报名人数+老师和本课时时长扣除流量，流量扣除按照流量的有效期，先到期的先扣；
                            <br />
                            <br />
                            <h6>
                                Q11：课程如何退款？
                            </h6>
                            A11：如果您设置的课程是可退款，学员的退款要求将通过平台发送给您，请及时确认，如果不同意也没有拒绝的合适理由，平台将不会结算您的课程费用；一旦学员发起退款，自发起退款时起，未开始的课程将不能进入，退款金额计算从未开始的课程算起；


                        </div>

                    </div>
                    <!-- END / CONTENT -->

                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    function showPanel(div) {
        if (div == "TeacherQA") {
            $(".reservation-billing-detail").hide();
            $("#panelTeacherQA").show();
        } else if (div == "StudentQA") {
            $(".reservation-billing-detail").hide();
            $("#panelStudentQA").show();
        }
    }


</script>
