@model KeZhan.Models.LoginModel
@{
  ViewBag.Title = "课站";
}

<section class="section-account parallax" style=" padding-top:60px; background-image:url('../content/image/jhk-1545185427332.jpg')">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register">
            <div class="text text-center">
                <h2>老师注册</h2>

                <div class="account_form">


                    <div class="field-form">
                        <input type="text" class="field-text" id="txtNewMobile" onkeyup="inputMobile(this)" placeholder="请输入手机号" />
                    </div>
                    <div class="field-form" style=" margin-top:1px;">
                        <span class="account-desc" style=" margin-top:1px;">
                            <p style=" text-align:right; width:100%; font-size:12px;">
                                <a href="#" id="btnCode" onclick="DoSendCode()">发送验证码</a>
                            </p>
                        </span>
                    </div>
                    <div class="field-form">
                        <input type="text" class="field-text" id="txtCode" disabled="disabled" onkeyup="inputCode(this)" placeholder="请输入验证码" />
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" id="txtNewPass" placeholder="请输入密码">
                        <span class="view-pass"><i class="lotus-icon-view"></i></span>
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" id="txtPass2" placeholder="请再次输入密码">
                        <span class="view-pass"><i class="lotus-icon-view"></i></span>
                    </div>
                    <div class="field-form">

                        <span class="account-desc" id="bTeacherDesc">

                            <input type="checkbox" id="chkReg" /><a href="/html/KeZhanDesc" target="_blank">&nbsp;&nbsp;课站平台服务协议</a>
                            <input type="checkbox" id="chkTea" /><a href="/html/KeZhanTeachDesc" target="_blank">&nbsp;&nbsp;课站平台教师服务协议</a>
                        </span>

                    </div>

                    <div class="field-form">
                        <button class="awe-btn awe-btn-12" id="btnLogin" onclick="DoLogin()">注册</button>

                    </div>
                    <div class="field-form">

                        <span class="account-desc" id="bTeacherDesc">

                            <p><a href="/open/RegsiterLogin">已有账号，去登录</a></p>
                        </span>

                    </div>
                </div>
            </div>
        </div>
</section>
<script type="text/javascript">
  var redirect_uri = "@Model.redirect_uri";
  var isNewUser = 0;

  var flag = 0;
  var time_ok = get_time_add(0);
  var time_hd = 0;

  function left_time() {
    var rst = 0;
    var now = get_time_add(0);
    if (now < time_ok) rst = Math.floor((time_ok - now) / 1000);
    return rst;
  }

  function get_time_add(val) {
    val = parseInt(val);
    var rst = (new Date()).getTime() + val * 1000;
    return rst;
  }


  function time_fun() {
    updateLabNo();
  }

  function updateLabNo() {
    var str = "";
    if (flag == 0) {
      str = "获取验证码";
    } else if (flag == 1) {
      str = "验证码已发送";
    }

    var tm = left_time();
    if (tm > 0) {
      str = str + "(" + tm + ")";
    } else if (flag == 1) {
      str = "重新获取验证码";
    }

    $("#btnCode").text(str);
  }


  $(document).ready(function () {
    updateLabNo();
    time_hd = setInterval("time_fun()", 1000);
  });


  function inputMobile(obj) {
    //    if ($(obj).val().length == 11) {
    //      $("#btnCode").removeClass("awe-btn-12");
    //      $("#btnCode").addClass("awe-btn-13");
    //    } else {
    //      $("#btnCode").removeClass("awe-btn-13");
    //      $("#btnCode").addClass("awe-btn-12");
    //      $("#txtCode").val("");
    //    }
  }

  function inputCode(obj) {
    if ($(obj).val().length == 6) {
      $("#btnLogin").removeClass("awe-btn-12");
      $("#btnLogin").addClass("awe-btn-13");
      // $("#btnLogin").attr("disabled", false);
    } else {
      $("#btnLogin").removeClass("awe-btn-13");
      $("#btnLogin").addClass("awe-btn-12");
    }
  }

  function DoSendCode() {
    var reg = /^0?1[3|4|5|7|8][0-9]\d{8}$/;

    if ($("#txtNewMobile").val() == "") {
      alert("请输入联系手机");
      $("#txtNewMobile").focus();
      return;
    } else if (!reg.test($("#txtNewMobile").val())) {
      alert("手机号格式错误，请重新输入");
      $("#txtNewMobile").focus();
      return;
    }


    var tm = left_time();
    if (tm > 0) {
      alert("请在 " + tm + " 秒后再次点击发送");
      return;
    }

    $.ajax({
        url: "/Request/DoSendCode",
      data: { "strMobile": $("#txtNewMobile").val() },
      type: "POST",
      dataType: "json",
      success: function (rst) {

        if (rst.iResult >= 0) {
          if (rst.iResult == 1) {
            isNewUser = 1;
          } else {
            alert("该手机号已注册，请登录后在个人信息页面申请成为老师");
          }
          $("#txtCode").attr("disabled", false);
          flag = 1;
          time_ok = get_time_add(30);
          updateLabNo();

        } else {
          alert(rst.strMsg);
        }
      }

    });
  }

 

  function DoLogin() {
    if (isNewUser == 1) {
      
        
        if (!$("#chkReg").is(':checked')) {
          alert("请阅读并同意注册条款");
          //$("#cmbRole").focus();
          return;
        } 
        if (!$("#chkTea").is(':checked')) {
          alert("请阅读并同意老师条款");
          //$("#cmbRole").focus();
          return;
        }
      
    }


    $.ajax({
        url: "/Request/DoTeacherValidCode",
      data: { "strMobile": $("#txtNewMobile").val(), "strCode": $("#txtCode").val(), "strPass": $("#txtNewPass").val(), "strPass2": $("#txtPass2").val() },
      type: "POST",
      dataType: "json",
      success: function (rst) {
        if (rst.iResult >= 0) {
          if (rst.iResult == 1) {
               window.location.href = "/user/userinfoedit";
              
          } else if (rst.iResult == 2) {
            window.location.href = "/user/updatepassword?redirect_uri=" + redirect_uri;
          } else {
            window.location.href = redirect_uri;
          }
        } else {
          alert(rst.strMsg);
        }
      }

    });
  }


</script>
