@{
    ViewBag.Title = "课站";
}

<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">

            <div class="row">
                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li onclick="showPanel('StudentInfo')"><a href="#" style=" width:100%;" data-toggle="tab">用户服务协议</a></li>

                        <li onclick="showPanel('TeacherInfo')"><a href="#" style=" width:100%;" data-toggle="tab">老师服务协议</a></li>
                        <li onclick="showPanel('Settlement')"><a href="#" style=" width:100%;" data-toggle="tab">结算规则</a></li>


                    </ul>
                </div>


                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <div class="reservation-billing-detail" id="panelStudentInfo">
                            <h3 class="text-uppercase">
                                课站平台服务协议
                            </h3>
                            <br />
                            欢迎您使用课站平台服务（以下简称：“本服务”）！
                            <br />
                            为使用本服务，您应当阅读并遵守《课站平台服务协议》（以下称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是限制或免除责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。
                            除非您已阅读并接受本协议所有条款，否则您无权使用本服务。如您在本服务中进行的支付、添加、使用等行为即视为您已阅读并同意受本协议的约束。
                            如果您未满18周岁，请在法定监护 人的陪同下阅读本协议，并在法定监护人的指导下使用本服务。
                            <br />
                            <br />
                            <br />
                            <h6>
                                一、 协议范围
                            </h6>
                            <br />
                            本协议是您（以下也称“用户”）、课站平台、课程开发者等之间关于您使用本服务所涉相关事项的法律协议。
                            <br />
                            <br />
                            <br />
                            <h6>
                                二、 术语定义
                            </h6>
                            <br />
                            如无特别说明，下列术语在本协议中的含义为：
                            <br />
                            2.1.课程发布者：指经有效注册、申请后课站老师后，将其享有相应权利的各种课程和资讯接入课站平台，并向用户提供各种免费或收费类的课程在线互动直播、录播服务及相关的图文资讯服务，以实现与用户进行在线交流与学习功能的个人、法人或其他组织，因前述主体的不同，发布者在对外展现上也称“机构”或“老师”。
                            <br />
                            2.2.课程：指由课程发布者开发，或课程发布者经权利人授权，通过课站平台向相关用户提供各种免费或收费类的在线直播、录播形式和图文交流与学习服务，包括但不限于语言类、成人考试类、小学/初中/高中教育辅导类（非学历教育）、学历教育辅导类等现存的各种培训服务及今后可能出现的各种培训服务。课程是否收费、课程收费的数额、课程收费方式、课程的收费期限等均由课程发布者自行决定。
                            <br />
                            2.3.课站平台：指由上海艾住信息科技有限公司所有，未来将上线的平台或网站中设立的供课程发布者发布课程和相关资讯的平台，以下简称为“课站平台”。
                            <br />
                            课站平台、课程发布者、用户均同意和理解：
                            <br />
                            （1）课站平台是一个中立的平台服务提供者，仅向课程发布者提供信息存储空间、在线互动上课工具、链接等中立的网络服务或相关中立的技术支持服务，以供课程发布者在中立的平台上自主发布、上课、运营、推广其课程和服务等。
                            <br />
                            （2）课程发布者的课程由课程发布者自主开发、独立运营并独立承担全部责任。课站平台不会、也不可能参与课程发布者课程的研发、运营等任何活动，课站平台也不会对课程发布者的课程进行任何的修改、编辑或整理等。
                            <br />
                            （3）因课程发布者课程产生的任何纠纷、责任等，以及课程发布者违反相关法律法规或本协议约定引发的任何后果，均由课程发布者独立承担责任、赔偿损失，与课站平台无关。如侵害到用户、课站平台或他人权益的，课程发布者须自行承担全部责任和赔偿一切损失。
                            <br />
                            <br />
                            <br />
                            <h6>
                                三、 关于本服务
                            </h6>
                            <br />
                            3.1. 本服务内容
                            <br />
                            本服务是指用户向课程发布者免费报名或支付课程费用后、享受由课程发布者提供的课程等相关服务。
                            <br />
                            3.2.本服务形式
                            <br />
                            您可能需通过PC浏览器或微信小程序登录相关页面来使用本服务。当您使用本服务时，您应选择与您的终端、系统等相匹配的版本，否则，您可能无法正常使用本服务。
                            <br />
                            <br />
                            <br />
                            <h6>
                                四. 服务的使用
                            </h6>
                            <br />
                            用户通过本服务来使用课程发布者提供的课程时，用户应当注意以下几点：
                            <br />
                            4.1.用户通过本服务使用的课程均由课程发布者单独提供，用户在查询、报名、购买、使用课程或支付费用等之前，应该谨慎判断课程发布者发布的课程相关信息（包括但不限于课程的内容、开课的时间、开课的期限等）的准确性、真实性、合法性，并自行判断课程发布者的履约能力，课站平台对课程发布者提供的课程无法做任何保证，也不承担任何责任。因查询、报名、购买、使用课程或支付费用等产生的任何纠纷，您应当与课程发布者协商、诉讼解决，并独立承担相应的风险或责任，与课站平台无关。
                            <br />
                            4.2.用户向课程发布者购买收费课程服务时，可选择课站平台提供的相关支付方式或者其他非课站平台提供的方式完成支付。
                            <br />
                            4.3.用户向课程发布者成功报名课程是指：线上支付课程的报名成功指用户报名后向课程发布者支付成功相应费用并经课程发布者确认报名成功的；线下支付课程的报名成功指用户报名后并经课程发布者确认报名成功的。用户成功报名课程后，应当在课程发布者规定的课程时间及期限内即时接受由课程发布者提供的相关课程服务，如因用户自身原因（包括但不限于用户设备故障、网络阻塞、网络断开、忘记课程时间等）导致未能完整接受或未能接受课程发布者提供的相关课程服务时，用户应当自行承担相应责任并默认用户已学习相关课程服务且您无权要求退换任何费用。
                            <br />
                            4.4.用户向课程发布者支付课程费用后，如需索要发票等支付凭证或者服务单据的，用户应当向课程发布者提出，并由课程发布者依法开具并邮寄相应的发票等支付凭证或者服务单据，与课站平台无关。
                            <br />
                            <br />
                            <br />
                            <h6>
                                五. 关于退款
                            </h6>
                            <br />
                            5.1.用户向课程发布者支付课程费用后，如课程发布者发布的课程不存在违反法律法规规定及课站平台相关规定，亦不存在按课站平台相关规定可以退费的情况下，用户在报名成功后，除非课程允许退款，否则均不得申请退款；
                            <br />
                            5.2.用户向课程发布者支付课程费用后，如课程发布者发布的课程存在违反法律法规规定及课站平台相关规定而发生退费的，则用户同意按如下规则退费：
                            <br />
                            （1）如果用户购买的是录播课程或含有录播课程，由于用户可以在线回看或下载观看，因此，录播课程不予退费；
                            <br />
                            （2）如果用户购买的是直播课程，且购买当时已经开课，由于用户可以观看已经开课课程的回放内容，因此，可以回放的课程视为用户已经学习的课程而不予退费，即，用户可以要求退费的比例为尚未开课的课程除以课程发布者发布的所有课程；
                            <br />
                            5.3.若用户购买的课程不是通过课站平台提供的支付方式完成支付的，则，若用户与课程发布者之间就款项支付、退款等任何事项，由用户与课程发布者自行协商解决，用户无权向课站平台主张任何权利或要求课站平台承担任何责任。
                            <br />
                            <br />
                            <br />
                            <h6>
                                六、 法律责任
                            </h6>
                            <br />
                            6.1.用户在使用本服务时，应当清楚并同意按以下约定承担相应责任：
                            <br />
                            6.1.1.课站平台在本服务中的责任
                            <br />
                            用户因使用本服务查询、报名、购买、使用课程发布者的课程时，课站平台按以下规则承担相应责任：
                            <br />
                            用户因使用本服务查询、报名、购买、使用课程发布者提供的课程发生纠纷时，由于相应课程均由课程发布者单独提供，课站平台不会也无法参与其中，因此，用户应当与课程发布者协商、诉讼解决，并独立承担相应的风险或责任，与课站平台无关。但，由于课站平台过错造成的，课站平台会依法承担相应责任。
                            <br />
                            6.1.2.课程发布者在本服务中的责任
                            <br />
                            用户查询、报名、购买、使用的课程，均由课程发布者单独提供并由课程发布者独立承担责任，用户因查询、报名、购买、使用的课程不符合双方约定或法律法规的规定而与课程发布者发生纠纷的，用户应当与课程发布者协商、诉讼解决，课程发布者应该依法承担相应的责任，与课站平台无关。
                            <br />
                            6.2.用户同意并理解，课程发布者拥有课程版权，私自录像或未经版权所有者同意擅自传播属于侵权行为；发生版权纠纷的，课程发布者应当与侵权者协商、诉讼解决，侵权者应该依法承担相应的责任；平台有权协助课程发布者终止侵权者使用课程并不退还缴纳的费用。
                            <br />
                            <br />
                            <br />
                            <h6>
                                七、 其他
                            </h6>
                            <br />
                            7.1.课站平台有权在必要时修改本协议，用户可以在相关页面中查阅最新的本协议。用户任何使用本服务的行为，即视为用户已经阅读并同意本协议及相应更新。如果您不接受修改后的协议，应当停止使用本服务。
                            <br />
                            7.2.本协议签订地为中华人民共和国上海市。
                            <br />
                            7.3.本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
                            <br />
                            7.4.若您和课站平台、课程发布者之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您可以将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。
                            <br />
                            7.5.本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。
                            <br />
                            7.6.本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。
                            <br />
                            7.7.若本协议有中文、英文等多个语言版本，相应内容不一致的，均以中文版的内容为准。（完）

                        </div>
                        <div class="reservation-billing-detail" id="panelTeacherInfo" style="display:none;">
                            <h3 class="text-uppercase">
                                课站平台老师注册协议
                            </h3>


                            欢迎您使用课站平台提供的服务！
                            <br />
                            为使用课站平台提供的服务（以下简称：本服务），您应当阅读并遵守 《 课站平台课程发布者注册协议 》 （以下简称：本协议）、《课站平台服务协议 》  等相关协议、规则。
                            请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议、规则。
                            除非您已阅读并接受本协议及相关协议、规则等所有条款，否则，您无权使用课站平台提供的本服务．您使用课站平台的本服务，即视为您已阅读并同意上述协议、规则等的约束。
                            您有违反本协议的任何行为时，课站平台有权依照违反情况，随时单方限制、中止或终止向您提供本服务，并有权追究您的相关责任。
                            <br />
                            <br /> 1 ．术语含义

                            <br /> 如无特别说明，下列术语在本协议中的含义为：

                            <br />1 . 1 课程发布者：指经有效注册、申请成为课站平台老师，将其享有相应权利的各种课程接入课站平台并向用户提供各种免费或收费类的在线直播、录播服务和图文资讯，以实现与用户进行在线交流与学习目的的个人、法人或其他组织，因前述主体的不同，课程发布者在对外展现上也称”机构”或”老师”．本协议中简称为”您”。

                            <br />1 . 2 课程：指由课程发布者开发，或课程开发者经权利人授权，通过课站平台向相关用户提供各种免费或收费类的在线直播、录播形式和图文资讯的交流与学习服务，包括但不限于语言类、公务员考试类、小学/初中/高中教育辅导类（非学历教育）、学历教育辅导类等现存的各种培训服务及今后可能出现的各种培训服务。课程是否收费、课程收费的数额及课程收费方式等均由课程发布者自行决定

                            <br /> 1 . 3 课站平台：指由课站平台所拥有、控制、经营的课站平台网（ 2kezhan.com ）、APP、小程序、PC客户端等现有或未来将上线的其他平台或网站及前述各平台网站的下属子页面，以下简称为“课站平台”。通过课站平台向您提供的服务包括但不限于提供课程运营平台、费用支付服务等服务，具体以课站平台提供和您选择的服务为准，前述服务称为课站平台服务、平台服务、本服务。

                            <br /> 课站平台、课程发布者均同意和理解：

                            <br />( 1 ）课站平台是一个中立的平台服务提供者，仅向课程发布者提供信息存储空问、链接等中立的网络服务或相关中立的技术支持服务，以供课程发布者在中立的平台上自主发布、运营。推广其课程等：

                            <br />( 2 ）课程发布者的课程由课程发布者自主开发、独立运营并独立承担全部责任。课站平台不会、也不可能参与课程发布者课程的研发、运营等任何活动，课站平台也不会对课程发布者的课程进行任何的修改。编辑或整理等；

                            <br />( 3 ）因课程发布者课程及服务产生的任何纠纷、责任等，以及开发者违反相关法律法规或本协议约定引发的任何后果，均由课程发布者独立承担责任、赔偿损失，与课站平台无关。如侵害到课站平台或他人权益的，课程发布者须自行承担全部责任和赔偿一切损失。

                            <br />1 . 4 课站平台运营数据：是指用户、课程发布者在使用课站平台相关服务中产生的相关运营数据，包括但不限于用户或课程发布者操作行为形成的数据、各类交易数据等，“课站平台数据”、“平台数据”、“运营数据” 。”课站平台运营数据”的所有权及其他相关权利属于课站平台，且是课站平台的商业秘密，未经课站平台书面授权您不得使用。但依法属于用户、课程发布者享有相关权利的数据或课程内容等除外。
                            <br />
                            <br />2 ．课程发布者的权利和义务

                            <br />2 . 1 帐户注册

                            <br /> 2 . 1 . 1 您应当通过登录课站平台网站或课站平台其他指定途径，使用手机号注册课程发布者帐户（下简称：账户）以成为课程发布者，课程发布者帐户一经注册成功不得变更，且该帐户不可转让、不可赠予、不可继承等。

                            <br />2 . 1 . 2 您注册帐号时，应使用您拥有合法使用权的手机号，并遵守相关协议、规则等的约束．

                            <br /> 2 . 1 . 3 您不得违反本协议约定将您的账户用于其他目的。否则，课站平台有权随时单方限制、中止或终止向您提供本服务，且未经课站平台同意您不得再次使用本服务。

                            <br />2 . 1 . 4 您注册帐号使用的手机号，是您登录及使用本服务的凭证。您应当做好手机号、密码，以及进入和管理本服务中的各类产品与服务的口令、密码等保密措施。因您保密措施不当或您的其他行为，致使上述口令、密码等丢失或泄漏所引起的一切损失和后果，均由您自行承担。

                            <br /> 2 . 1 . 5 课站平台可能会向您提供添加其他账号以成为您注册账号的账号管理员的功能，如课站平台向您提供账号管理员功能后，您可以根据自己的需求，在使用相应手机号注册成您账号的账号管理员后，进行您指定或授权的操作。

                            <br /> 2 . 1 . 6 您保证：您注册本服务账户的手机号及您添加的账号管理员使用的手机号的使用权均是合法获取的。前述全部手机号在本服务中进行的包括但不限于以下事项：注册本服务帐户、提交相应资质材料、确认和同意相关协议和规则、选择具体服务类别以及进行费用结算等事项，均是您自行或您授权他人进行的行为，对您均有约束力。同时，您承担以前述全部手机号为标识进行的全部行为的法律责任。

                            <br /> 2 . 1.7 若您发现有他人冒用或盗用您的账户及密码、或任何其他未经您合法授权的情形时，您应立即以有效方式通知课站平台并提供课站平台所需的相关材料（包括但不限于提供您的身份信息和相关身份资料、相关事实情况及您的要求等）。课站平台收到您的有效清求并核实身份后，会根据不同情况采取相应措施。若您提供的信息不完全，导致课站平台无法核实您的身份或课站平台无法判断您的需求等，而导致课站平台无法进行及时处理，给您带来的损失，您应自行承担。同时，课站平台对您的请求采取措施需要合理期限，对于您通知课站平台以及课站平台根据您的有效通知采取措施之前，由于他人行为给您造成的损失，课站平台不承担任何责任。

                            <br />2 . 2 资质材料

                            <br /> 2 . 2 . 1 您保证：您具备使用本服务、接入和运营课程或提供相关服务等行为的相关合法资质或已经过了相关政府部门的审核批准；您提供的主体资质材料、相关资质或证明以及其他任何文件等信息真实、准确、完整，并在信息发生变更后，及时进行更新：您具备履行本协议项下之义务、各种行为的能力；您履行相关义务、从事相关行为不违反任何对您的有约束力的法律文件。否则，您应不使用课站平台提供的相关服务，且应独自承担由此带来的一切责任及给用户、课站平台造成的全部损失。

                            <br />2 . 2 . 2 您保证：您会依法及按照课站平台要求提交使用本服务所必须的真实、准确的经过您签章确认的主体资质材料以及联系人姓名（名称）、地址、电子邮箱等相关资料。

                            <br />2 . 2 . 3 您保证：您在课站平台上通过您的课程提供的各种服务，依法已经具有相关的合法资质或获得了有关部门的许可或批准，并会向课站平台提交相关资质或证明文件。

                            <br />2 . 2 . 4 您保证：您在课站平台上通过您的课程提供的各种服务，符合国家相关法规的规定，不违反任何相关法规及相关协议、规则，也不会侵犯任何人的合法权益，同时，会依法、依约或按照课站平台的要求提供版权、专利权等相关证明文件。

                            <br /> 2 . 3 服务费用

                            <br />2 . 3 . 1 您在发布课程或相关服务时，请详细阅读《费用与结算规则》，后续课站平台可能会对收费标准和提现规则进行调整，并有权根据运营情况单独决定是否向您收取相应服务费用。

                            <br />2 . 3 . 2 如后续课站平台向您收取相应服务费用的，您因使用课站平台提供的相关服务而产生的所有服务费用由您自行承担，您应按相关协议、规则等的规定支付费用，否则，课站平台有权不提供相关服务。您选择使用相关服务并支付费用后，在服务未到期之前，若您单方要求提前解除服务的．课站平台有权将您未使用的服务对应的费用不予退还而作为您单方违约的违约金予以没收。

                            <br />在本服务中，课站平台如需对服务收取相应服务费用的，课站平台有权单方根据实际需要对收费服务的收费标准、方式进行修改和变更，前述修改、变更前，课站平台将在相应服务页面进行通知或公告。如果您不同意上述修改、变更，则应立即停止使用相应服务，否则，您的任何使用行为，即视为您同意上述修改、变更。
                            您若对课站平台提供的收费标准、服务使用期限等费用结算事项的通知内容有异议的，应在收到课站平台通知后及时以书面形式告知课站平台，课站平台收到您的书面告知会进行核实，否则，视为您认可课站平台提供的费用结算事项的通知内容，双方应按照课站平台提供的费用结算事项的通知内容，进行费用的结算及支付等。
                            您理解并同意：若课站平台按照前述约定对于本服务是否收费、收费标准等单方做出调整、变化的，您会予以全部遵守、同意，但您依法或按照约定终止使用本服务的除外。

                            <br />2 . 4 课程要求

                            <br />2 . 4 . 1 您应自行负责您课程的开发、创建、上课、管理、运营等工作，并且自行承担相应的费用。

                            <br /> 2 . 4 . 2 您的课程，应符合相关法规、技术规范或标准等，同时，还应符合课站平台的对接入课程在内容、服务等方面的统一要求和您在课程介绍页面对课程的介绍，以确保课程可以在课站平台真实、安全、稳定的运营。

                            <br />2 . 4 . 3 您不得在课程内宣传与本课程无关的任何其他信息，包括但不限于广告、其他的课程产品信息等（除非双方另有约定），也不得在课程内添加指向非课站平台拥有或控制或课站平台书面同意的网站链接。

                            <br /> 2 . 4 . 4 您课程在课站平台上运营期间，您需向用户提供及时有效的客户服务，客户服务形式包括但不限于通过明确且合理的方式告知用户客户服务渠道、提供 QQ/电话等，并自行承担客服费用。

                            <br /> 2 . 4 . 5 您应当在课程中向相关权利人提供投诉途径，确保权利人在认为您侵犯其合法权益时可以向您主张权利。

                            <br />2 . 4 . 6 如果您的课程符合课站平台支付接入的相关要求时，则可依相关规范、流程等接入到课站平台的支付系统。

                            <br /> 2 . 5 课程运营

                            <br />2 . 5 . 1 您应自行按照相关法规，运营您的课程，履行相关义务，并自行承担全部责任，包括但不限于：

                            <br />( 1 ）依照相关法律法规的规定，保留相应的访问、使用等日志记录；

                            <br />( 2 ）国家有权机关向您依法查询相关信息时，应积极配合提供；

                            <br />( 3 ）主动履行其他您依法应履行的义务．

                            <br /> 2 . 5 . 2 您保证：

                            <br /> ( 1 ）您的课程、提供给用户的相关服务及发布的相关信息、内容等，不违反相关法律、法规、政策等的规定及本协议或相关协议、规则等．也不会侵犯任何人的合法权益：

                            <br />( 2 ）课程上课过程中应尊重用户知情权、选择权，应当坚持诚信原则，不误导、欺诈、混淆用户，尊重用户的隐私，不骚扰用户，不制造垃圾信息。

                            <br />2 . 5 . 3 您不得从事任何包括但不限于以下的违反法规的行为，也不得为以下违反法规的行为提供便利（包括但不限于为您课程的用户的行为提供便利等） :

                            <br />( 1 ）反对宪法所确定的基本原则的行为：

                            <br />( 2 ）危害国家安全，泄露国家秘密，颠覆国家政权．破坏国家统一的行为；

                            <br />( 3 ）损害国家荣誉和利益的行为；

                            <br />( 4 ）煽动民族仇恨、民族歧视，破坏民族团结的行为：

                            <br />( 5 ）破坏国家宗教政策。宣扬邪教和封建迷信的行为：

                            <br />( 6 ）散布谣言，扰乱社会秩序．破坏社会稳定的行为；

                            <br />( 7 ）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的行为：

                            <br />( 8 ）侮辱或者诽谤他人，侵害他人合法权益的行为：

                            <br />( 9 ）侵害他人知识产权、商业秘密等合法权利的行为：

                            <br />( 10 ）恶意虚构事实、隐瞒真相以误导、欺骗他人的行为；

                            <br />( 11 ）发布、传送、传播广告信息及垃圾信息；

                            <br />( 12 ）其他法律法规禁止的行为。

                            <br /> 2 . 5 . 4 您不得从事包括但不限于以下行为，也不得为以下行为提供便利（包括但不限于为您的用户的行为提供便利等） :

                            <br />( 1 ）删除、隐匿、改变课站平台显示或其中包含的任何专利、著作权、商标或其他所有权声明：

                            <br />( 2 ）以任何方式干扰或企图干扰课站平台任何产品、 任何部分或功能的正常运行，或者制作、发布、传播上述工具、方法等；

                            <br />( 3 ）未经课站平台书面许可，您在课程中不得使用包括但不限于“课站平台”、其他课站平台商标标识或其任何变体、缩写、改写等；

                            <br />( 4 ）避开、尝试避开或声称能够避开任何内容保护机制，或导致用户认为其直接与课站平台及课站平台相关产品进行交互；

                            <br /> ( 5 ）在未获得课站平台书面许可的清况下，以任何方式使用课站平台URL地址、技术接口等：

                            <br />( 6 ）在未经过用户同意的情况下，向任何其他用户及他方显示或以其他任何方式提供该用户的信息；

                            <br />( 7 ）请求、收集、索取或以其他方式获取用户课站平台朋友等课站平台服务的登录帐号、密码或其他任何身份验证凭据；

                            <br />( 8 ）在没有获得用户明示同意的情况下，直接联系用户，或向用户发布任何商业广告及骚扰信息；

                            <br />( 9 ）为任何用户自动登录到课站平台提供代理身份验证凭据；

                            <br />( 10 ）提供跟踪功能，包括但不限于识别其他用户在个人主页上查看、点击等操作行为；

                            <br /> ( 11 ）自动将浏览器窗口定向到其他网页；

                            <br />( 12 ）未经授权获取对课站平台产品或服务的访问权；

                            <br />( 13 ）课程服务内容中含有计算机病毒、木马或其他恶意程序等任何可能危害课站平台或用户权益和终端信息安全等的内容；

                            <br />( 14 ）设置或发布任何违反相关法规、公序良俗、社会公德等的玩法、内容等；

                            <br /> ( 15 ）公开表达或暗示，您与课站平台之间存在合作关系，包括但不限于相互持股、商业往来或合作关系等，或声称课站平台对您的认可；

                            <br /> ( 16 ）未经课站平台许可，实施包括但不限于以赠送、发售等方式使用课站平台或第三方的任何虚拟货币或品牌服务的行为；

                            <br /> ( 17 ）其他课站平台认为不应该、不适当的行为、内容。

                            <br /> 2 . 5 . 5 本服务中可能会使用第三方软件或技术，若有使用，前述第三方软件或技术相关协议或其他文件，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，您应当遵守这些要求。否则，因此带来的一切责任您应自行承担。如因本服务使用的第三方软件或技术引发的任何纠纷，由该第三方负责解决。

                            <br /> 2 . 6 课程的下线规则

                            <br /> 2 . 6 . 1 您发布课程后，无论课程是否收费，在课程未按照您发布课程时的安排履行完毕的，或课程有用户已经报名但未学习完的，在未经已报名但未学习完用户和课站平台都同意的前提下，您不得擅自终止课程的运营或服务的提供。

                            <br /> 2 . 6 . 2 您发布课程后，无论课程是否收费，在课程未按照您发布课程时的安排，或课程有用户已经报名但仍未学习完的，若您确须要提前终止课程运营或服务提供，您应至少提前通知用户和课站平台，同时，您在取得已报名但未学习完用户同意并妥善处理相关退费或各类用户损失等事宜后，并经课站平台同意后，方可终止相关课程的运营或服务的提供。

                            <br /> 2 . 6 . 3 您发布课程后，无论课程是否收费，在课程未按照您发布课程时的安排，或课程有用户已经报名但仍未学习完的，若您发布的课程由于违反相关法规或本协议相关约定时，您应该按照课站平台的要求终止课程的运营或课站平台有权随时终止课程的运营或服务的提供，同时，您应妥善处理已报名但未学习完用户的退费、各类用户损失等问题，若由此造成用户、课站平台损失或有纠纷的，您应负责解决相关纠纷并自行承担全部责任。

                            <br /> 2 . 6 . 4 若课程非正常原因需要提前下线的，在课程下线过程中，您应积极与用户联系并妥善处理已报名但未学习完用户的退费、各类用户损失等事宜，依法保护用户的合法权益不受损害，否则，若由此造成用户、课站平台损失或有纠纷的，您应负责解决相关纠纷并自行承担全部责任。同时，您应发布下线公告直至课程下线（下线公告应当包含但不限于下线时间、退费方式、用户补偿方案、客服联系电话等内容），且您不得强制用户切换到其他第三方平台进行学习，亦不得免除自身对未结束课程进行退款责任等义务。如您选择退还用户已支付的课程相应费用、补偿用户损失的，您同意课站平台在您的账户结算额中直接扣除前述退还给用户的课程相应费用、补偿用户损失费用等全部费用。

                            <br /> 2 . 6 . 5 您同意，无论课程因为任何原因需要下线的，课站平台有权单方冻结尚未支付给您的所有款项，并从前述冻结款项中直接扣除应当退还给用户的费用、补偿用户损失费用等，其他条款与该条有不一致的，以该条为准。

                            <br /> 2 . 7 关于用户数据的规则

                            <br /> 2 . 7 . 1 您的课程或服务对于用户数据的收集、保存、使用等必须满足以下要求：

                            <br /> ( 1 ）您的课程或服务需要收集用户任何数据的，必须事先获得用户的明确同意，且仅应当收集为课程运行而必要的用户数据，同时应当告知用户相关数据收集的目的、范围及使用方式等，保障用户知情权；

                            <br /> （ 2 ）您收集用户的数据后，必须采取必要的保护措施，防止用户数据被盗、泄漏等：

                            <br />   ( 3 ）您在特定课程中收集的用户数据仅可以在该特定课程中使用，不得将其使用在该特定课程之外或为其他任何目的进行使用，也不得以任何方式将其提供给他人；

                            <br />  ( 4 ）您应向用户提供隐私保护政策，隐私保护政策须在课程界面上明显位置向用户展示。

                            <br /> 2 . 7 . 2 您不得收集用户的隐私信息数据及其他课站平台认为属于敏感信息范畴的数据，包括但不限于不得收集或要求用户提供任何用户关系链、好友列表数据、银行账号和密码等。

                            <br />  2 . 7 . 3 您不得使用课站平台数据用于向用户进行广告宣传使用。

                            <br />  2 . 7 . 4 如果课站平台认为您收集、使用用户数据的方式，可能损害用户体验，课站平台有权要求您删除相关数据并不得再以该方式收集、使用用户数据。

                            <br /> 2 . 7 . 5 课站平台有权限制或阻止您获取用户数据及课站平台数据。

                            <br /> 2 . 7 . 6 未经课站平台事先书面同意，您不得为本协议约定之外的目的使用用户数据或平台运营数据，亦不得以任何形式将前述数据提供给他人。

                            <br /> 2 . 7 . 7 一旦课程发布者停止使用课站平台，或课站平台基于任何原因终止您使用本服务，您必须立即删除全部从课站平台中获得的数据（包括各种备份），且不得再以任何方式进行使用。

                            <br />  2 . 7 . 8 您应自行对因使用本服务而存储在课站平台服务器的各类数据等信息，在本服务之外，采取合理、安全的技术措施，确保其安全性，并对自己的行为（包括但不限于自行安装软件、采取加密措施或迸行其他安全措施等）所引起的结果承担全部责任。

                            <br /> 2 . 8 法律责任

                            <br />  2 . 8 . 1 您保证：如里您使用本服务产生相应费用的，您会按照本协议及相关协议、规则等支付相关费用，否则，您理解并同意：每延期一日，您应当向课站平台支付所欠费用千分之一的违约金。同时，课站平台有权随时单方采取包括但不限于以下措施中的一种或多种，以维护自己的合法权益。

                            <br /> ( 1 ）从其他课站平台应支付给您或您关联公司的任何费用中直接抵扣：

                            <br /> ( 2 ）暂停向您或您关联公司结算或支付任何费用；

                            <br /> ( 3 ）中止、终止您或您关联公司使用本服务：

                            <br /> ( 4 ）中止、终止您或您关联公司的后台管理权限：

                            <br /> ( 5 ）删除您或您关联公司在使用本服务中存储的任何数据；

                            <br /> ( 6 ）禁止您今后将您的任何新课程接入课站平台；

                            <br /> ( 7 ）其他课站平台可以采取的为维护自己权益的措施。

                            <br />  2 . 8 . 2 您保证：您使用本服务及您的任何行为，不违反任何相关法规、本协议和相关协议、规则等。您理解并同意：若课站平台自行发现或根据相关部门的信息、权利人的投诉等发现您可能存在违反前述保证情形的，课站平台有权根据一般人的认识自己独立判断，以认定您是否存在违反前述保证情形，若课站平台经过判断认为您存在违反前述保证情形的，课站平台有权随时单方采取以下一项或多项措施。

                            <br />  ( 1 ）要求您立即更换、修改违反前述保证情形的相关内容；

                            <br /> （2 ）对存在违反前述保证情形的课程、您或您关联公司名下的全部课程或任何一款课程采取下线措施即终止课程在课站平台的运营；

                            <br /> （ 3 ）禁止您或您关联公司今后将任何新课程接入课站平台；

                            <br /> （ 4 ）中止、终止向违反前述保证情形的课程、您或您关联公司名下的全部课程或任何一款课程，或您成您关联公司提供部分或全部本服务：

                            <br /> ( 5 ）冻结课站平台尚未支付给您的所有款项并将前述冻结款项予以没收，作为您向课站平台承担违约责任的违约金而不再向您支付；

                            <br /> ( 6 ）将您的行为对外予以公告：

                            <br /> ( 7 ）其他课站平台认为适合的处理措施。

                            <br />  2 . 8 . 3 如在课站平台告知您或您自行得知您存在任何违法情形后，您应按法律法规或课站平台的规定向课站平台提出反通知。但是，无论课站平台是否告知您，您是否提出反通知或反通知是否符合相关法规、课站平台要求等，均不影响课站平台进行自己的独立判断和采取相关措施

                            <br /> 2 . 8 . 4 若课站平台按照上述条款、本协议的其他相关约定或因您违反相关法律的规定，对您或您的课程采取任何行为或措施，所引起的纠纷、责任等一概由您自行负责，造成您损失的，您应自行全部承担，造成课站平台或他人损失的，您也应自行承担全部责任。

                            <br /> 2 . 8 . 5 若课站平台按照上述条款、本协议的其他相关约定或因您违反相关法律的规定，对您或您的课程采取任何行为或措施后，导致您没有使用到相应服务但已经缴纳相应费用的，对该部分费用，课站平台有权不予退还，而作为您违反约定的违约金予以没收。
                            <br />
                            <br /> 3 ．课站平台的权利义务

                            <br /> 3 . 1 课站平台会很据您选择的服务向您提供相应的服务，如后续课站平台提供服务需要收费的，您应向课站平台支付相应费用，课站平台在您支付相应费用后，会向您提供相应的服务。

                            <br /> 3 . 2 保护您的信息的安全是课站平台的一项基本原则，未经您的同意，课站平台不会向课站平台以外的任何公司、组织和个人披露、提供您的信息，但下列情形除外：

                            <br />  ( 1 ）据本协议或其他相关协议、规则等规定可以提供的：

                            <br />( 2 ）依据法律法规的规定可以提供的；

                            <br />( 3 ）行政、司法等政府部门要求提供的；

                            <br /> ( 4 ）您同意课站平台向第三方提供；

                            <br /> ( 5 ）为解决举报事件、提起诉讼而需要提供的；

                            <br /> ( 6 ）为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提供的。

                            <br /> 3 . 3 尽管课站平台对您的信息保护做了极大的努力，但是仍然不能保证在现有的安全技术措施下，您的信息可能会因为不可抗力或非课站平台因素造成泄漏、窃取等，由此给您造成损失的，您同意课站平台可以免责。

                            <br />  3 . 4 课站平台有权开发、运营与您课程相似或相竞争的课程，同时课站平台也不保证平台上不会出现其他课程发布者提供的与您课程相竞争的课程。

                            <br /> 3 . 5 课站平台有权在包括但不限于课程介绍页等，向用户阐述该课程为您开发以及由您向用户提供客户服务等．

                            <br /> 3 . 6 课站平台可将本协议下的权利和义务的部分或全部转让给他人，如果您不同意课站平台的该转让，则有权停止使用本协议下服务。否则，视为您对此予以接受。

                            <br /> 3 . 7 除了另行有约定外，课站平台无需为按照本协议享有的权益而向您支付任何费用。

                            <br />   3 . 8 您理解并同意：为向更多互联网使用者推广您的课程，课站平台有权采取以下行为，而无须再取得您的同意．

                            <br /> ( 1 ）在课站平台课站平台以外的平台、网站等采取各种形式对课程进行宣传、推广：

                            <br />( 2 ）课站平台可根据整体运营安排，自主选择向整个或部分全世界范围内的互联网用户提供您的课程；

                            <br />( 3 ）有权为本协议目的使用您课程的 LOGO 、标识、名称、图片等相关素材。
                            <br />
                            <br /> 4 . 关于免责

                            <br /> 4 . 1 您理解并同意：鉴于网络服务的特殊性，课站平台有权在无需通知您的倩况下根据课站平台的整体运营情况或相关运营规范、规则等，可以随时变更、中止或终止部分或全部的服务，若由此给您造成损失的，您同意放弃追究课站平台的责任。

                            <br /> 4 . 2 您理解并同意：为了向您提供更完善的服务，课站平台有权定期或不定期地对提供本服务的平台或相关设备进行检修、维护、升级等，此类情况可能会造成相关服务在合理时间内中断或暂停的，若由此给您造成损失的，您同意放弃追究课站平台的责任。

                            <br /> 4 . 3 您理解并同意：课站平台的服务是按照现有技术和条件所能达到的现状提供的。课站平台会尽最大努力向您提供服务，确保服务的连贯性和安全性；但课站平台不能保证其所提供的服务毫无瑕疵，也无法随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。所以您也同意：即使课站平台提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为课站平台违约，同时，由此给您造成的数据或信息丢失等损失的，您同意放弃追究课站平台的责任。

                            <br />  4 . 4 您理解并同意：在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述倩况时，课站平台将努力在第一时间与相关单位配合，及时进行修复，若由此给您造成损失的，您同意放弃追究课站平台的责任。

                            <br /> 4 . 5 您理解并同意：若由于对以下情形导致的服务中断或受阻，给您造成损失的，您同意放弃追究课站平台的责任：

                            <br /> ( 1 ）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏：

                            <br />( 2 ）您或课站平台的电脑软件、系统、硬件和通信线路出现故障：

                            <br /> ( 3 ）您操作不当：

                            <br />( 4 ）您通过非课站平台授权的方式使用本服务；

                            <br />( 5 ）其他课站平台无法控制或合理预见的情形。
                            <br />
                            <br /> 5 ．服务的中止或终止

                            <br /> 5 . 1 如您书面通知课站平台不接受本协议或对其的修改，课站平台有权随时中止或终止向您提供本服务。

                            <br />5 . 2 因不可抗力因素导致您无法继续使用本服务或课站平台无法堤供本服务的，课站平台有权随时终止协议。

                            <br /> 5 . 3 本协议约定的其他中止或终止条件发生或实现的，课站平台有权随时中止或终止向您提供本服务。

                            <br /> 5 . 4 由于您违反本协议约定，课站平台依约终止向您提供本服务后，如您后续再直接或间接，或以他人名义注册使用本服务的，课站平台有权直接单方面暂停或终止提供本服务。

                            <br />5 . 5 如本协议或本服务因为任何原因终止的，对于您的帐号中的全部数据或您因使用本服务而存储在课站平台服务器中的数据等任何信息，课站平台可将该等信息保留或删除，包括服务终止前您尚未完成的任何数据。

                            <br />5 . 6 如本协议或本服务因为任何原因终止的，您应自行外理好关于数据等信息的备份以及与您的用户之间的相关事项的处理等，由此造成课站平台损失的，您应负责赔偿。
                            <br />
                            <br /> 6 ．关于通知

                            <br /> 6 . 1 课站平台可能会以网页公告、网页提示、电子邮箱、手机短信、常规的信件传送、您注册的本服务账户的管理系统内发送站内信等方式中的一种或多种，向您送达关于本服务的各种规则、通知、提示等信息，该等信息一经课站平台采取前述任何一种方式公布或发送，即视为您已经接受并同意，对您产生约束力。若您不接受的，请您书面通知课站平台并停止使用本服务，否则视为您已经接受、同意。

                            <br /> 6 . 2 若由于您提供的电子邮箱导致您未收到相关规则、通知您同意仍然视为您已经收到相关信息并受其约束，一切后果及责任由您自行承担。

                            <br /> 6 . 3 您也同意课站平台或合作伙伴可以向您的电子邮件、手机号码等发送可能与本服务不相关的其他名类信息包括但不限于商业广告

                            <br />6 . 4 若您有事项需要通知课站平台的，应当按照本服务对外正式公布的联系方式书面通知课站平台。
                            <br />
                            <br /> 7 ．知识产权

                            <br /> 7 . 1 课站平台在本服务中提供的信息内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权均归课站平台所有，依法属于用户、课程发布者及其他第三方所有的除外。除另有特别声明外，课站平台提供本服务时所依托软件的著作权、专利权及其他知识产权均归课站平台所有。本服务中所使用的“课站平台”形象等商业标识，其著作权或商标权归课站平台所有。上述及其他任何课站平台依法拥有的知识产权均受到法律保护，未经课站平台书面许可，您不得以任何形式进行使用或创造相关衍生产品。

                            <br /> 7 . 2 您仅拥有依照本协议约定合法使用本服务或相关API的权利，与本服务相关的API相关的著作权、专利权等相关全部权利归课站平台所有。未经课站平台书面许可，您不得违约或违法使用，不得向任何单位或个人出售、转让、转授权课站平台的代码、API及开发工具等
                            <br />
                            <br /> 8.其他

                            <br />8.1除前述内容外.本协议内容同时包括《课站平台服务协议》、本协议附件中的协议或规则、课站平台可能不断发布的关于本服务的其他相关协议、规则等内容。

                            <br /> 上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当道守。上述内容与本协议存在冲突的，以本协议为准。一经注册或使用本协议下任何服务，即视为您已阅读并同意接受本协议及上述内容的约束。课站平台有权在必要时单方修改本协议或上述内容，相关内容变更后，如果您继续使用本服务，即视为您已接受修改后的相关内容。如果您不接受修改后的相关内容，应当停止使用相关服务。

                            <br />8.2本协议签订地为中华人民共和国上海市

                            <br />  8.3本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和囯大陆地区法律（不包括冲突法）

                            <br /> 8.4若您和课站平台之间发生任何纠纷或争议，首先应协商友好解决：协商不成功的，双方均同意将纠纷或争议提交本协议签订地有管辖权的人民法院解决

                            <br /> 8.5本协议所有条款的标题仅为阅读方便,本身并无实际涵义,不能作为本协议涵义解释的依据。
                        </div>
                        <div class="reservation-billing-detail" id="panelSettlement" style="display:none;">
                            <h3 class="text-uppercase">
                                费用结算和提现规则
                            </h3>

                            <br />
                            <br />

                            <h6>
                                一、定义：
                            </h6>

                            <br /> 1.课站合作方（以下简称合作方）：发布课程或服务的注册老师；

                            <br /> 2.学员：购买合作方发布的课程或服务的课站平台注册用户；

                            <br />3.现金账户：每个注册的老师都拥有现金账户，现金账户是学员线上支付的课程或服务费用，记录课程或老师提供的其他服务结算后，在扣除1%（第三方支付平台0.6% 课站平台代收代付管理费用） 和学员退款费用后的可提现费用；

                            <br /> 4.流量账户：每个注册老师上课或提供其他服务所需支付平台的费用按流量计算，注册老师可以通过购买或课站平台活动赠送获得流量。流量有有效期，购买的流量不可退，流量的使用按照流量有效期的先后次序；

                            <br />5.公开课：课程发布后，所有课站平台用户可以浏览和购买的课程；

                            <br />6.私课：课程发布后，课站平台搜索不到课程，只有通过课程发布者或课程推广人员通过微信、QQ、邮件或课站站内消息等方式推广；

                            <br /> 7.在线支付课程：学员的课程学费支付到课站平台，课程结束后，平台与课程发布者结算；

                            <br />8.线下支付课程：学员的课程费用直接支付给老师或机构；

                            <br />
                            <br />
                            <h6>
                                二、结算周期：
                            </h6>

                            <br /> 1.全部课程结束7个工作日内，如果课程学员没有提出异议或有未处理的合理退款要求，课程进行结算审核；

                            <br />2.结算后的金额将计入课程发布者的现金账户；

                            <br />
                            <br />
                            <h6>
                                三、平台费用支付：
                            </h6>

                            <br />1.在课程的每个课时“开始上课”时，校验课程发布者的流量账户余额，按流量有效期的先后顺序扣除流量；

                            <br /> 2.流量按照本课时线上支付课程的在线支付人数（去除退款人数）或课程发布者确认的线下支付的报名人数乘以课时时长计算出的总流量需求扣除；

                            <br />
                            <br />
                            <h6>
                                四、退款：
                            </h6>

                            <br /> 1.退款只适用于线上支付的课程或服务；

                            <br /> 2.如果发布的课程或服务是可退款（随时退或课前退，课前退是指第一个课时约定的时间之前），符合条件的学员可以发起退款，平台只退并且全部退还未开始的课时款项，课程有单价的按课程单价计算可退款；没有课程单价的按课程的平均课时价退款，合作方结算金额扣除退款款项；

                            <br />3.如果合作方因自身原因申请终止未完成课程或服务，平台将退款全部未退课学员剩余课程或服务的费用；

                            <br /> 4.如果发布的课程是不可退款，学员因特殊原因要求退款，由合作方发起退款和决定退款金额。

                            <br />
                            <br />
                            <h6>
                                五、现金账户余额使用：
                            </h6>

                            <br /> 1.提现；

                            <br />2.购买流量；

                            <br />3.购买平台其他服务；

                            <br />
                            <br />
                            <h6>
                                六、现金账户提现规则：
                            </h6>

                            <br /> 1.每日最多提现1次，每次提现最多不超过5万，最少不低于100元；

                            <br />2.提现金额将汇入提现者指定的账户，个人账户使用借记卡或企业账户，企业账户必须是国内银行账户；

                            <br />3.合作方申请提现后，课站平台在3-5个工作日汇入合作方指定的账户；

                            <br />4.提现收取手续费免费。

                            <br />
                            <br />
                            <h6>
                                七、双方结算义务
                            </h6>

                            <br />1.课站作为开放平台，无代扣代缴合作方所得收益税费的义务。针对合作方提供给学员的各项服务收入，由合作方自行承担所得收益的税费；

                            <br />2.如果合作方提现到企业账户，合作方需开具相应的企业发票；

                            <br />3.学员针对付费内容提出的开票请求，由合作方与学员自行协商解决；

                            <br />4.课站可为合作方提供平台收取服务费相关的合法发票（学员费用代收代付管理费、流量购买费等），每月最多开一次。

                            <br />
                            <br />
                            <h6> 八、本结算规则的最终解释权属于课站平台。</h6>
                        </div>

                    </div>
                    <!-- END / CONTENT -->

                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    function showPanel(div) {
        if (div == "TeacherInfo") {
            $(".reservation-billing-detail").hide();
            $("#panelTeacherInfo").show();
        } else if (div == "Settlement") {
            $(".reservation-billing-detail").hide();
            $("#panelSettlement").show();
        } else if (div == "StudentInfo") {
            $(".reservation-billing-detail").hide();
            $("#panelStudentInfo").show();
        }
    }


</script>
