@model TiKuBll.Model.BookingListModel
@{
    ViewBag.Title = "课站";
}


                <section class="section-reservation-page bg-white">

                    <div class="container">
                      
                        <div class="reservation-page">


                            <div class="row">
                              

                                <!-- CONTENT -->
                                <div class="col-md-8 col-lg-9">

                                    <div class="reservation_content">
                                        <div class="activiti">

                                            <div class="gallery-cat activiti-cat ">

                                                <ul class="list-inline">
                                                    <li>状态：</li>
                                                    <li><a href="/Booking/BookingList?strStatus=">全部</a></li>
                                                    <li><a href="/Booking/BookingList?strStatus=提交">提交</a></li>
                                                    <li><a href="/Booking/BookingList?strStatus=已支付">已支付</a></li>
                                                    <li><a href="/Booking/BookingList?strStatus=已取消">已取消</a></li>
                                                </ul>

                                            </div>
                                        </div>


                                        <div class="reservation-billing-detail">

                                            <div id="comments">
                                                <ul class="commentlist">
                                                    @if (Model.list != null && Model.list.Count > 0) { 
                                                        foreach (var b in Model.list)
                                                    {
                                                        <li>
                                                            <div class="comment-body">
                                                                <a class="comment-avatar" style="border-radius:2%;">
                                                                    <img style=" height:50px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@b.CoverImg?x-oss-process=style/fang" alt="">
                                                                </a>
                                                                <h4 class="comment-subject">
                                                                    订单号：<a href="/Booking/UserBooking?strBookingNo=@b.fBookingNo">@b.fBookingNo</a>
                                                                </h4>
                                                                <p>
                                                                    <a href="/Open/ClassRoomDetail?strClassRoomCode=@b.fTypeCode">课程:@b.Title</a>
                                                                </p>
                                                                <span class="comment-meta">
                                                                    订单时间：@b.fBuyDate.ToString()
                                                                    <br />
                                                                    价格：@b.fAmount.ToString()
                                                                    <br />
                                                                    老师：@b.TeacherName
                                                                </span>
                                                                <div class="action">
                                                                    <a href="/Booking/UserBooking?strBookingNo=@b.fBookingNo" class="awe-btn awe-btn-14">@b.fStatus</a>
        </div>
    </div>
</li>
                                                    }
                                                    }
                                                    else
                                                    {
                                                     <spa>没有符合条件的订单</spa>   
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- END / CONTENT -->

                            </div>
                        </div>
                    </div>

                </section>
                <!-- END / SUB BANNER -->
