@model KeZhan.Models.UserPayModel
@{
    ViewBag.Title = "课站";
}

<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">

            <!-- STEP -->
            <div class="reservation_step">


            </div>
            <!-- END / STEP -->

            <div class="row">

                <!-- SIDEBAR -->
                @*<div class="col-md-4 col-lg-3">

                    <div class="sidebar">
                        <div class="widget widget_recent_entries has_thumbnail">
                            <h4 class="widget-title">流量购买</h4>
                            
                            <div class="guest-book_item guest-book_item-2">
                               
                                <p>提示：购买的流量不可退，请注意有效期和购买合适的流量，每个课程的课时所需要的流量是（线下报名人数+在线支付人数+老师）*课时长短，购买的流量不可退，有效期自购买之日起12个月</p>
                                <span></span>
                            </div>
                        </div>
                    </div>

                </div>*@
                <!-- END / SIDEBAR -->
                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">
                    <div class="reservation_content">
                        <div class="reservation-billing-detail">



                            @*  <div class="reservation-chosen-message bg-gray text-center">
                                    <h4>在线充值 </h4>
                                    <p>充值金额不退?</p>
                                    <a href="#" class="awe-btn awe-btn-6">GO NEXT STEP</a>
                                </div>*@


                            <div class="text-center">
                                <span style="font-size:24px; font-weight:bold;">当前流量余额（分钟）：@Model.LeftFlow</span>
                                <br /><br />
                                @*<h4>流量购买 </h4>*@

                                    <p>
                                        购买须知：所购买的流量不可退，有效期自购买之日起12个月内有效。流量是老师和学员在课堂的合计时长（分钟），请购买合适数量的流量。
                                    </p>
                                <button class="awe-btn awe-btn-2" onclick="ChooseAmount(this,10000,0.12)">10000分钟<br />每分钟￥ 0.12</button>
                                <button class="awe-btn awe-btn-2" onclick="ChooseAmount(this,50000,0.1)">50000分钟<br />每分钟￥  0.1</button>
                                <button class="awe-btn awe-btn-2" onclick="ChooseAmount(this,200000,0.08)">200000<br />每分钟￥  0.08</button>
                                <button class="awe-btn awe-btn-2" onclick="ChooseAmount(this,500000,0.06)">500000<br />每分钟￥ 0.07</button>
                                <button class="awe-btn awe-btn-2" onclick="InputAmount(this,@Model.ClassFee)">自定义 <br />每分钟￥ @Model.ClassFee</button>
                                <br /><br />
                                <input type="number" style=" display:none" id="hidAmount" value="" placeholder="请输入购买分钟数" class="input-text" />
                            </div>


                            @*<label>支付方式</label>*@
                            <ul class="option-bank">
                                <li id="liAli">
                                    <label class="label-radio">
                                        <input type="radio" class="input-radio" name="rPayType" value="alipay">
                                        支付宝
                                    </label>

                                    @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                </li>
                                <li>
                                    <label class="label-radio">
                                        <input type="radio" class="input-radio" name="rPayType" value="weixinpay">
                                        微信
                                    </label>

                                    @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                </li>
                                <li>
                                    <label class="label-radio">
                                        <input type="radio" class="input-radio" name="rPayType" value="accountpay">
                                        账号余额
                                    </label>

                                    @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                </li>
                            </ul>

                            <div id="divQrCode" style=" display:none;">

                            </div>
                            <button class="awe-btn awe-btn-13" data-reveal-id="divPayCode" onclick="UserPay()">支付</button>

                        </div>

                    </div>

                </div>
                <!-- END / CONTENT -->

            </div>
        </div>
    </div>

</section>




<script type="text/javascript">
    var username = "@Model.UserName";
    var openid = "@Model.OpenID";
    var classfee = "@Model.ClassFee";

    $(document).ready(function () {
        if (is_weixn()) {
            $("#liAli").hide();
        }
    })

    function ChooseAmount(obj, iAmount,fee) {
        $(".awe-btn").removeClass("awe-btn-8");
        $(obj).addClass("awe-btn-8");
        classfee=fee;
        $("#hidAmount").hide();
        $("#hidAmount").val(iAmount);
    }

    function InputAmount(obj,fee) {
        $(".awe-btn").removeClass("awe-btn-8");
        $(obj).addClass("awe-btn-8");
        classfee=fee;
        $("#hidAmount").show();
        $("#hidAmount").val("");
    }

    function UserPay() {

        $.ajax({
            url: "/LoginRequest/SubmitBuyFlowOrder",
            data: { "iNum": $("#hidAmount").val(), "dPrice": classfee },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst != "") {

                    var payType = $("input[name='rPayType']:checked").val();
                    var fee = parseFloat($("#hidAmount").val()) * parseFloat(classfee);

                    if (payType == "accountpay") {
                        AiZhuPay("Flow",rst);//账号余额支付
                    } else {
                        if (IsPC()) {
                            PCPay(username, rst, fee);
                        } else {
                            if (is_weixn()) {
                                WXPay(openid,username, rst, fee)
                            } else {
                                WapPay(username, rst, fee);
                            }
                        }
                    }
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                } else {
                    alert(rst.strMsg);
                }
            }

        });


    }

  
    function GetBookingNo(bookingno) {
        $.ajax({
            url: "/weixinpay/GetFlowStatus",
            data: { "strBookingNo": bookingno },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult == 1) {
                    alert("支付成功")
                    $("#myBGDiv").show();
                    $("#divPublicCode").show();
                } else {
                    setTimeout("GetBookingNo('" + bookingno + "')", 2000);
                }
            }

        });

    }


    function ClosePublicCode()
    {
        window.location.reload();
    }
</script>