@{
  ViewBag.Title = "课站";
}
!-- ACTIVITI -->
<section class="section-activiti bg-white">
            <div class="container">

                <div class="activiti">

                  @*  <div class="gallery-cat activiti-cat ">
                       
                        <ul class="list-inline">                          
                            <li>学段：</li>
                            <li onclick="CheckPharse(this,'小学')"><a href="#">小学</a></li>
                            <li  onclick="CheckPharse(this,'初中')"><a href="#">初中</a></li>
                            <li onclick="CheckPharse(this,'高中')"><a href="#">高中</a></li>
                        </ul>
                        
                    </div>*@

                    <div class="activiti_content">
                        
                        <div class="row" id="accountList">

                           </div>

                        <!-- PAGE NAVIGATION   -->
                        @*<ul class="page-navigation text-center">
                            <li class="first"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="current-page"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li class="last"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                        </ul>*@
                        <!-- END / PAGE NAVIGATION   -->

                    </div>

                </div>

            </div>
        </section>
<!-- END / ACTIVITI -->

<script type="text/javascript">

  $(document).ready(function () {
    $.ajax({
      url: "/user/QueryUserAccount",
      type: this.method,
      // data: { "strClassRoomCode": ClassRoomCode },
      success: function (msg) {
        $('#accountList').html(msg);
      }
    });

  });

</script>
