@{
    ViewBag.Title = "课站";
}


<section class="section-term-condition bg-white">
    <div class="container">

        <div class="term-condition">
            <br />
            <br />
            <h3 class="text-uppercase">课程购买或报名须知</h3>
            <br>
            <br />
            <br />
            <h6> 一、直播课程：</h6>
            直播课程随时退是指最后一个课时开始前1小时可以退未上课的课程；
            <br />
            课前退是指在第一个课时开始前1小时可以退全部课程；
            <br />
            不可退是指购买后就不可退；
            <br />
            退课后，所退课程将在“我的课程”中删除；
            <br />
            因各种原因，课程提前结束或课时终止或上课时间变更，接受退还未上课时费用的处理方法；

            <br />
            <br />
            <h6>
                二、录播课程：
            </h6>
            购买后均不可退；
            <br />
            播放：在购买后的有效期内无限次播放；

            <br />
            <br />
            <h6>
                三：  课程费用开票：
            </h6>
            学员针对购买平台课程的发票要求，由老师和学员协商解决，课站平台作为教学平台，不提供学员任何课程发票。如果老师和协商不一致，可以在课程结束7天前发邮件到：zhaobing@aizhusoft.com；
            <br>



        </div>

    </div>
</section>