@{
    ViewBag.Title = "课站";
}


<section class="section-term-condition bg-white">
    <div class="container">

        <div class="term-condition">
            <br />
            <br />
            <h3 class="text-uppercase">课程发布须知</h3>
            <br>
            <br />
            <br />
            <h6> 一、直播课程下线：</h6>

            1.直播课程，在线支付
            <br />
            •如果没有人报名和支付，直接下线；
            <br />
            •如果有人报名和支付，但课程还没有开始，系统发送课程下线通知并发起全额退款，信用记录1分；
            <br />
            •如果课程已经开始并有人支付，平台审核后，系统发送课程下线通知并发起全额退款，信用记录2分；
            <br />
            •如果某个课时老师未准时上课（迟到（10）分钟以上），您可以在本课时当日未发布课时更改通知，平台审核后，系统将发送课程下线通知并发起全额退款；
            <br />
            2.直播课程，线下支付
            <br />
            •如果没有人报名，直接下线；
            <br />
            •如果有人报名且已由老师确认且课程还没有开始，冻结结算账户，平台审核后，系统发送下线通知，信用记录1分；
            <br />
            •如果有人报名且已由老师确认且课程已经开始，冻结结算账户，平台审核后，系统发送下线通知；，信用记录2分；
            <br />
            •线下支付课程的购买是由学员在线下直接支付给老师的，您报名后和老师联系支付课程费用，老师可控制您进入本课程课堂的许可，为保证您资金的安全，请确认您和老师是认识或可靠的。如果发生您和老师的纠纷，平台是不承担责任的；
            <br />
            3.信用记录
            <br />
            •如果累计1个自然年内信用分超过5分，系统将有权停止您课程的发布；
            <br />


            <br />
            <br />
            <h6>
                二、直播课程课时变更：
            </h6>

            1.如果因为您个人原因需要变更某个课时的上课时间，平台允许修改另外上课时间；
            <br />
            2.一旦更改上课时间，所有报名学员将收到课时时间变更通知，他们可以选择：
            <br />
            •同意修改；
            <br />
            •不同意修改，退还剩余未上课时费用；
            <br />
            •不同意修改的课时，退还一个课时的费用；
            <br />
            3.请谨慎变更课时，以免给你带来不必要的损失和影响您的信誉，即使变更课时也要事前或事后做好和学员的沟通工作；
            <br />
            <br />
            <br />
            <h6>
                三、录播课程发布：
            </h6>

            1.符合国家相关部门的规定，不含涉黄、涉爆、涉政等违规信息；
            <br />
            2.不侵犯他人的知识产权；
            <br />
            3.发布的录播课程一旦发布违规内容和侵权行为，平台有权冻结结算账户和终止发布者发布录播课程的权利，并保留进一步追究其他责任的权利；

            <br>



        </div>

    </div>
</section>