@{
    ViewBag.Title = "课站";
}

<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">

            <div class="row">
                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li ><a href="#" style="width:100%;" data-toggle="tab">课站老师须知</a></li>
                        <li ><a href="https://mp.weixin.qq.com/s/qOPXEi30Dh0tSQGCITp-GA" style="width:100%;">操作说明</a></li>
                    </ul>
                </div>


                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">
                        <div class="reservation-billing-detail" id="panelTeacherQA" >
                            <h3 class="text-uppercase">
                                课站老师须知：
                            </h3>
                            <br />
                            <br />
                            <h6> 一、课站推荐使用范围：</h6>
                            1.个体老师、老师工作室、虚拟教学机构；
                            <br />
                            <br />
                            <h6>二、主要名词解释：</h6>
                            1.公开课：可以在课站被所有人搜索和购买；
                            <br />
                            2.私课：只能通过老师提供的课程购买链接或二维码进入课程购买页面；
                            <br />
                            3.线下支付：学员学费通过线下方式支付给老师；
                            <br />
                            4.线上支付：学员在线上通过微信和支付宝支付到课站平台；
                            <br />
                            5.流量：老师和学员每人上课时间；
                            <br />
                            <br />
                            <h6>
                                三、老师注册和课程发布限制：
                            </h6>
                            1.注册老师需要上传身份证和学位证或教师证或其他专业资质证书，审核后就获得教师资质；
                            <br />
                            2.发布K12公开课（包括录播和直播），必须有相应学科和学段的教师证；
                            <br />
                            3.发布私课和在线课堂只要有教师资质，也不限制K12；
                            <br />
                            <br />
                            <h6>
                                四、主要上课模式和规定：
                            </h6>
                            1.在线课堂（实时课堂）：适用于不确定时间的答疑、一对一课程、
                            <br />
                            2.直播课程：系列课程，定时授课；
                            <br />
                            3.直播课程老师可以提前15分钟进入课堂，老师进入课堂后，学员即可进入；
                            <br />
                            <br />
                            <h6>
                                五、上课课堂主要功能：
                            </h6>
                            1.双向音视频，最多支持10路同时连麦互动，其他听课学生数量不限；
                            <br />
                            2.课堂聊天群组；
                            <br />
                            3.双向互动白板，支持每课堂100M课件、PPT、Word、Execl等；
                            <br />
                            4.屏幕共享；
                            <br />
                            5.双向发起连麦互动；
                            <br />
                            <br />
                            <h6>
                                六、平台收费模式：
                            </h6>
                            1.课站只按流量费收取费用；
                            <br />
                            A.直播课程和在线课堂：0.15元/人分钟；
                            <br />
                            B.录播课程：0.05元/分钟（高清视频课程时长，学员有效期内无限回看）；
                            <br />
                            2.线上支付，老师提现支付 2% 的管理费；
                            <br />
                            3.老师注册送1000分钟流量；
                            <br />
                            4.免费20G视频文件存储；
                            <br />
                            5.上课课堂功能费不再收费；
                            <br />
                            <br />
                            <h6>
                                七、结算周期：
                            </h6>
                            1.直播课程线上支付结算周期为课程下线后7天内；
                            <br />
                            2.录播课程和在线课堂，在学员支付后1天内结算；
                            <br />
                            <br />
                            <h6>
                                八、上课设备和配置要求：
                            </h6>
                            1.课站目前使用浏览器模式上课和听课；
                            <br />
                            2.操作系统支持win7以上和MAC OS 60+；
                            <br />
                            3.上网带宽4M以上；
                            <br />
                            4.老师使用谷歌浏览器72+（屏幕分享必须），学生可以QQ 10.2、safari 11+、谷歌52+；
                            <br />
                            内置或外接摄像头和麦克，可切换使用；
                            <br />

                        </div>

                    </div>
                    <!-- END / CONTENT -->

                </div>
            </div>
        </div>
    </div>
</section>

